In [95]:
# import 
import json
import sys

import pandas

In [97]:
# setting
## file name
FILENAME = './summary.json'
COLUMNS = [
    'title', 'date', 'initial', # '2019u',
    '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019'
]
URA = '2019'

In [89]:
# read json
with open(FILENAME, encoding='utf8') as summary_file:
    summary = json.load(summary_file)

In [94]:
# make main dataframe
df = pandas.DataFrame(summary).astype({'initial': int})
df.index = df.no
df = df.drop(columns=['no'], axis=0)
df.date = pandas.to_datetime(df.date)
df.head()

,title,ruby,average,inst,works,debut,date,2019u,initial,2005,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
no,,,,,,,,,,,,,,,,,,,,,
1,桜の花は狂い咲き,None,121.462,False,"[SOME GIRLS -REBEL STREEL IV (桜の花は乱れ咲き), CLASS...",SOME GIRLS -REBEL STREEL IV,1997-04-25,64.0,2005,NaN,...,109.0,96.0,123.0,68.0,169.0,165.0,100.0,134.0,164.0,123.0
2,青蛾月,None,80.923,False,"[幻想庭園, étoiles (SEIGAGETSU)]",幻想庭園,1988-01-25,22.0,2005,NaN,...,82.0,72.0,57.0,54.0,87.0,81.0,59.0,146.0,126.0,54.0
3,マリーゴールド・ガーデン,None,171.769,False,"[幻想庭園, フラワーチャイルド, 神々の黄昏]",幻想庭園,1988-01-25,128.0,2005,NaN,...,150.0,175.0,141.0,218.0,141.0,238.0,190.0,155.0,164.0,216.0
4,鏡面界 im Juni,きょうめんかい・イン・ジュニ,201.077,False,[幻想庭園],幻想庭園,1988-01-25,150.0,2005,NaN,...,171.0,204.0,131.0,174.0,194.0,253.0,244.0,202.0,250.0,260.0
5,アンジェ・ノワールの祭戯,None,125.615,False,"[幻想庭園, 神々の黄昏]",幻想庭園,1988-01-25,NaN,2005,NaN,...,93.0,81.0,96.0,150.0,106.0,156.0,244.0,187.0,63.0,106.0

# MAIN ranking

In [71]:
result = df[['title', 'date', '2019u', 'average']]
result.head()

           title       date  2019u  average
no
1       桜の花は狂い咲き 1997-04-25   64.0  121.462
2            青蛾月 1988-01-25   22.0   80.923
3   マリーゴールド・ガーデン 1988-01-25  128.0  171.769
4    鏡面界 im Juni 1988-01-25  150.0  201.077
5   アンジェ・ノワールの祭戯 1988-01-25    NaN  125.615

# URA ranking

注) データが揃っている2007年以降

* average  
平均順位
* average_exclude_debut  
デビュー年以外の平均順位
* highest  
最高順位
* highest_exclude_debut  
デビュー年以外の最高順位

In [101]:
RANK = [2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]

# ura ranking
ura = df[df[URA] > 100][COLUMNS]
ura['average'] = 0.
ura['average_exclude_debut'] = 0.
ura['highest'] = 0.
ura['highest_exclude_debut'] = 0.

for no in df.index:
    no

ura.head()

,title,date,initial,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,average,average_exclude_debut,highest,highest_exclude_debut
no,,,,,,,,,,,,,,,,,,,,
1,桜の花は狂い咲き,1997-04-25,2005,86.0,126.0,116.0,109.0,96.0,123.0,68.0,169.0,165.0,100.0,134.0,164.0,123.0,0.0,0.0,0.0,0.0
3,マリーゴールド・ガーデン,1988-01-25,2005,141.0,162.0,142.0,150.0,175.0,141.0,218.0,141.0,238.0,190.0,155.0,164.0,216.0,0.0,0.0,0.0,0.0
4,鏡面界 im Juni,1988-01-25,2005,165.0,185.0,181.0,171.0,204.0,131.0,174.0,194.0,253.0,244.0,202.0,250.0,260.0,0.0,0.0,0.0,0.0
5,アンジェ・ノワールの祭戯,1988-01-25,2005,109.0,131.0,111.0,93.0,81.0,96.0,150.0,106.0,156.0,244.0,187.0,63.0,106.0,0.0,0.0,0.0,0.0
6,紅い睡蓮の午後,1988-01-25,2005,144.0,176.0,153.0,164.0,188.0,204.0,136.0,190.0,183.0,244.0,237.0,209.0,226.0,0.0,0.0,0.0,0.0

In [17]:
# average
result['average'] = 0.
result['average_exclude_debut'] = 0.
result['rank_average'] = 0.
result['rank_average_exclude_debut'] = 0.
# highest
result['highest'] = 0.
result['highest_exclude_debut'] = 0.
result['rank_highest'] = 0.
result['rank_highest_exclude_debut'] = 0.
# under 100
result['under_100'] = False
# over 100
result['over_100'] = 0
result['over_100_average'] = 0.

culcIndex = 5

for idx in ura_list.index:
    row = ura_list.iloc[idx, culcIndex:]
    debut_index = col.index(int(ura_list.debut[idx])) if int(ura_list.debut[idx]) >= 2007 else culcIndex
    
    result.at[idx, 'average'] = ura_list.iloc[idx, culcIndex:-1].dropna().mean()
    result.at[idx, 'average_exclude_debut'] = ura_list.iloc[idx, debut_index+1:-1].dropna().mean()
    
    result.at[idx, 'highest'] = row.dropna().min()
    result.at[idx, 'highest_exclude_debut'] = ura_list.iloc[idx, debut_index+1:].dropna().min()
    
    index2018 = col.index(2018)
    is_debut = debut_index == index2018
    is_under_100_2018 = ura_list.iat[idx, -1] > 100
    is_over_100 = (ura_list.iloc[idx, culcIndex:-1].dropna() > 100).sum() == 0
    if is_under_100_2018 and is_over_100 and not is_debut:
        result.at[idx, 'under_100'] = True
        
    result.at[idx, 'over_100'] = (row.dropna() <= 100).sum()
    result.at[idx, 'over_100_average'] = result.at[idx, 'over_100'] / len(row)
    
result.rank_average = result.average.rank(method='min')
result.rank_average_exclude_debut = result.average_exclude_debut.rank(method='min')
result.rank_highest = result.highest.rank(method='min')
result.rank_highest_exclude_debut = result.highest_exclude_debut.rank(method='min')

In [18]:
result.head()

,title,release,kind,2019u,average,average_exclude_debut,rank_average,rank_average_exclude_debut,highest,highest_exclude_debut,rank_highest,rank_highest_exclude_debut,under_100,over_100,over_100_average
0,青蛾月,1988,OA/SA,22.0,79.272727,78.8,27.0,14.0,54.0,54.0,68.0,34.0,False,10,0.833333
1,マリーゴールド・ガーデン,1988,OA/S2,NaN,168.454545,171.2,121.0,116.0,141.0,141.0,171.0,147.0,False,0,0.000000
2,鏡面界 im Juni,1988,OA,NaN,191.272727,193.9,161.0,155.0,131.0,131.0,158.0,135.0,False,0,0.000000
3,紅い睡蓮の午後,1988,OA/SA,NaN,183.545455,187.5,150.0,142.0,136.0,136.0,167.0,142.0,False,0,0.000000
4,桜の花は狂い咲き,1988,OA/SA,64.0,117.454545,120.6,57.0,54.0,68.0,68.0,87.0,51.0,False,4,0.333333

In [19]:
result.tail()

,title,release,kind,2019u,average,average_exclude_debut,rank_average,rank_average_exclude_debut,highest,highest_exclude_debut,rank_highest,rank_highest_exclude_debut,under_100,over_100,over_100_average
195,魂ノ代,2015,S2,NaN,217.333333,240.5,197.0,199.0,171.0,237.0,193.0,199.0,False,0,0.000000
196,永久戒厳令,2016,OA,31.0,65.000000,92.0,12.0,26.0,38.0,92.0,44.0,84.0,True,2,0.166667
197,異種革命,2016,OA,52.0,38.500000,64.0,1.0,7.0,13.0,64.0,10.0,43.0,True,2,0.166667
198,最後の美術館,2016,OA,90.0,122.500000,134.0,63.0,66.0,111.0,134.0,137.0,137.0,False,0,0.000000
199,眼球ロマン,2018,OA,67.0,NaN,NaN,NaN,NaN,107.0,NaN,131.0,NaN,False,0,0.000000

In [110]:
#result = pandas.concat([result, ura_list], axis=1)

In [20]:
result.query('under_100 == True')[['title', 'release', '2019u']].join(ura_list[2018])

                 title  release  2019u   2018
65                遊月恋歌     2002    2.0  110.0
119              阿芙蓉寝台     2009    3.0  112.0
125              堕天國宣戦     2009   11.0  138.0
168               薔薇娼館     2013   17.0  175.0
182  Tico Tico no Fuba     2015   40.0  120.0
185             陸と海と空と     2015   53.0  114.0
193       緋ノ糸輪廻ノGEMINI     2015    NaN  147.0
194              波羅蜜蓮華     2015    NaN  170.0
196              永久戒厳令     2016   31.0  152.0
197               異種革命     2016   52.0  138.0

In [26]:
tmp = result.sort_values(['rank_average_exclude_debut', 'release'], ascending=[True, True]) \
      .query('average_exclude_debut <= 100') \
      [['title', '2019u', 'rank_average_exclude_debut', 'average_exclude_debut', 'release', 'rank_average']] \
      .join(ura_list[2018])
print(tmp[tmp['2019u'] <= 10].count())
tmp

title                         8
2019u                         8
rank_average_exclude_debut    8
average_exclude_debut         8
release                       8
rank_average                  8
2018                          8
dtype: int64

,title,2019u,rank_average_exclude_debut,average_exclude_debut,release,rank_average,2018
65,遊月恋歌,2.0,1.0,42.900000,2002,2.0,110.0
119,阿芙蓉寝台,3.0,2.0,50.285714,2009,4.0,112.0
182,Tico Tico no Fuba,40.0,3.0,55.500000,2015,3.0,120.0
125,堕天國宣戦,11.0,4.0,56.285714,2009,7.0,138.0
158,贋作師,23.0,5.0,58.000000,2012,5.0,138.0
66,Lolita in the garret,5.0,6.0,60.900000,2002,9.0,118.0
197,異種革命,52.0,7.0,64.000000,2016,1.0,138.0
185,陸と海と空と,53.0,8.0,65.500000,2015,6.0,114.0
118,お毒味LADY,30.0,9.0,69.571429,2009,10.0,131.0
61,妄想水族館,8.0,10.0,71.600000,2001,19.0,120.0
84,鎮魂頌,41.0,11.0,73.000000,2005,14.0,221.0
53,少女貴族,7.0,12.0,75.000000,2001,17.0,192.0
120,極色一代女,14.0,13.0,77.285714,2009,18.0,106.0
0,青蛾月,22.0,14.0,78.800000,1988,27.0,126.0
168,薔薇娼館,17.0,15.0,79.250000,2013,15.0,175.0
194,波羅蜜蓮華,NaN,16.0,80.000000,2015,8.0,170.0
83,密猟区,1.0,17.0,82.200000,2005,25.0,131.0
107,ヘテロ失楽園,18.0,18.0,83.875000,2008,23.0,113.0
137,平成日本残酷物語,39.0,19.0,85.000000,2010,21.0,126.0
159,ALICE同罪イノセント,15.0,20.0,85.200000,2012,20.0,119.0
116,戦慄の子供たち,59.0,21.0,87.428571,2009,28.0,115.0
171,見ぬ友へ,36.0,22.0,88.000000,2013,26.0,138.0
193,緋ノ糸輪廻ノGEMINI,NaN,23.0,88.500000,2015,16.0,147.0
190,狩猟令嬢ジビエ日誌,NaN,24.0,89.000000,2015,29.0,164.0
145,Troubadour,NaN,25.0,89.333333,2011,24.0,154.0
196,永久戒厳令,31.0,26.0,92.000000,2016,12.0,152.0
47,Rose Moon,16.0,27.0,92.500000,1998,33.0,133.0
51,月光夜,38.0,28.0,92.600000,1998,38.0,102.0
113,裸々イヴ新世紀,6.0,29.0,93.250000,2009,30.0,124.0
187,快楽のススメ,36.0,30.0,93.500000,2015,11.0,170.0
186,異端者たちの悦楽,43.0,31.0,96.000000,2015,13.0,126.0
11,マダム・ノワール -Madame Noir,9.0,32.0,97.200000,1992,39.0,110.0
142,鹿鳴館ブギウギ,19.0,33.0,98.000000,2010,32.0,126.0
86,百合と夜鶯,21.0,34.0,99.000000,2005,37.0,175.0

In [22]:
for idx in tmp.index:
    print(f'{int(tmp.at[idx, "rank_average_exclude_debut"])}|{tmp.at[idx, "title"]}|{tmp.at[idx, "average_exclude_debut"]:.2f}|{tmp.at[idx, "release"]}')

1|遊月恋歌|42.90|2002
2|阿芙蓉寝台|50.29|2009
3|Tico Tico no Fuba|55.50|2015
4|堕天國宣戦|56.29|2009
5|贋作師|58.00|2012
6|Lolita in the garret|60.90|2002
7|異種革命|64.00|2016
8|陸と海と空と|65.50|2015
9|お毒味LADY|69.57|2009
10|妄想水族館|71.60|2001
11|鎮魂頌|73.00|2005
12|少女貴族|75.00|2001
13|極色一代女|77.29|2009
14|青蛾月|78.80|1988
15|薔薇娼館|79.25|2013
16|波羅蜜蓮華|80.00|2015
17|密猟区|82.20|2005
18|ヘテロ失楽園|83.88|2008
19|平成日本残酷物語|85.00|2010
20|ALICE同罪イノセント|85.20|2012
21|戦慄の子供たち|87.43|2009
22|見ぬ友へ|88.00|2013
23|緋ノ糸輪廻ノGEMINI|88.50|2015
24|狩猟令嬢ジビエ日誌|89.00|2015
25|Troubadour|89.33|2011
26|永久戒厳令|92.00|2016
27|Rose Moon|92.50|1998
28|月光夜|92.60|1998
29|裸々イヴ新世紀|93.25|2009
30|快楽のススメ|93.50|2015
31|異端者たちの悦楽|96.00|2015
32|マダム・ノワール -Madame Noir|97.20|1992
33|鹿鳴館ブギウギ|98.00|2010
34|百合と夜鶯|99.00|2005

In [36]:
tmp = result.sort_values(['rank_highest_exclude_debut', 'release'], ascending=[True, True]) \
      .query('highest_exclude_debut <= 50') \
      [['title', '2019u', 'rank_highest_exclude_debut', 'highest_exclude_debut', 'release', 'rank_highest']] \
      .join(ura_list[2018])
print(tmp[tmp['2019u'] <= 10].count())
tmp

title                         10
2019u                         10
rank_highest_exclude_debut    10
highest_exclude_debut         10
release                       10
rank_highest                  10
2018                          10
dtype: int64

,title,2019u,rank_highest_exclude_debut,highest_exclude_debut,release,rank_highest,2018
61,妄想水族館,8.0,1.0,14.0,2001,12.0,120.0
125,堕天國宣戦,11.0,1.0,14.0,2009,4.0,138.0
158,贋作師,23.0,3.0,16.0,2012,1.0,138.0
65,遊月恋歌,2.0,4.0,18.0,2002,13.0,110.0
118,お毒味LADY,30.0,4.0,18.0,2009,10.0,131.0
119,阿芙蓉寝台,3.0,6.0,24.0,2009,22.0,112.0
11,マダム・ノワール -Madame Noir,9.0,7.0,25.0,1992,25.0,110.0
53,少女貴族,7.0,8.0,26.0,2001,22.0,192.0
187,快楽のススメ,36.0,8.0,26.0,2015,4.0,170.0
74,少女殉血,4.0,10.0,27.0,2003,28.0,126.0
113,裸々イヴ新世紀,6.0,11.0,29.0,2009,8.0,124.0
120,極色一代女,14.0,12.0,31.0,2009,21.0,106.0
106,黙示録前戯,10.0,13.0,34.0,2008,15.0,152.0
145,Troubadour,NaN,13.0,34.0,2011,6.0,154.0
159,ALICE同罪イノセント,15.0,15.0,35.0,2012,6.0,119.0
66,Lolita in the garret,5.0,16.0,36.0,2002,41.0,118.0
171,見ぬ友へ,36.0,17.0,41.0,2013,44.0,138.0
161,真偽贋物遊覧会,NaN,18.0,42.0,2012,16.0,144.0
83,密猟区,1.0,19.0,44.0,2005,39.0,131.0
84,鎮魂頌,41.0,19.0,44.0,2005,34.0,221.0
51,月光夜,38.0,21.0,45.0,1998,51.0,102.0
86,百合と夜鶯,21.0,21.0,45.0,2005,51.0,175.0
121,Animals on the Earth,50.0,21.0,45.0,2009,40.0,175.0
80,あたしがアリスだった頃,34.0,24.0,47.0,2004,35.0,148.0
28,Wish,27.0,25.0,48.0,1996,57.0,142.0
142,鹿鳴館ブギウギ,19.0,25.0,48.0,2010,46.0,126.0
166,乙女の贖い,80.0,25.0,48.0,2013,57.0,250.0
168,薔薇娼館,17.0,25.0,48.0,2013,33.0,175.0
182,Tico Tico no Fuba,40.0,29.0,50.0,2015,19.0,120.0

In [38]:
result.sort_values(['over_100', 'release'], ascending=[False, True]) \
      .query('over_100 >= 8') \
      [['title', 'release', 'over_100', '2019u']] \
      .join(ura_list[2018])

                    title  release  over_100  2019u   2018
65                   遊月恋歌     2002        11    2.0  110.0
0                     青蛾月     1988        10   22.0  126.0
66   Lolita in the garret     2002        10    5.0  118.0
53                   少女貴族     2001         9    7.0  192.0
61                  妄想水族館     2001         9    8.0  120.0
84                    鎮魂頌     2005         9   41.0  221.0
47              Rose Moon     1998         8   16.0  133.0
83                    密猟区     2005         8    1.0  131.0
89                   水月鏡花     2006         8   42.0  154.0
119                 阿芙蓉寝台     2009         8    3.0  112.0
125                 堕天國宣戦     2009         8   11.0  138.0

In [40]:
result.sort_values(['over_100_average', 'release'], ascending=[0, 1]) \
      .query('over_100_average >= .6') \
      [['title', 'release', 'over_100_average', 'over_100', '2019u']]

                    title  release  over_100_average  over_100  2019u
65                   遊月恋歌     2002          0.916667        11    2.0
0                     青蛾月     1988          0.833333        10   22.0
66   Lolita in the garret     2002          0.833333        10    5.0
53                   少女貴族     2001          0.750000         9    7.0
61                  妄想水族館     2001          0.750000         9    8.0
84                    鎮魂頌     2005          0.750000         9   41.0
47              Rose Moon     1998          0.666667         8   16.0
83                    密猟区     2005          0.666667         8    1.0
89                   水月鏡花     2006          0.666667         8   42.0
119                 阿芙蓉寝台     2009          0.666667         8    3.0
125                 堕天國宣戦     2009          0.666667         8   11.0

In [117]:
# for i in result.title:
#     print(i)

In [41]:
# 未投票
zero = ['日曜日のシエスタ', 'La vie en rose', 'Féliciter', 'Nocturnal', '寶島', '逢魔蛾城の伯爵', '小夜すみれ ～ある夜の森の小さなお話', '魂ノ代']
result.query('title in @zero')

,title,release,kind,2019u,average,average_exclude_debut,rank_average,rank_average_exclude_debut,highest,highest_exclude_debut,rank_highest,rank_highest_exclude_debut,under_100,over_100,over_100_average
40,日曜日のシエスタ,1997,ST/SA,NaN,181.818182,187.100000,144.0,140.0,129.0,139.0,154.0,145.0,False,0,0.0
63,La vie en rose,2001,OA,174.0,209.272727,211.500000,185.0,179.0,155.0,155.0,179.0,160.0,False,0,0.0
71,Féliciter,2003,SA,NaN,206.272727,210.100000,181.0,177.0,168.0,174.0,190.0,180.0,False,0,0.0
103,Nocturnal,2007,SA,NaN,216.300000,223.222222,196.0,194.0,154.0,192.0,176.0,191.0,False,0,0.0
126,寶島,2009,S2,NaN,197.500000,210.142857,168.0,178.0,109.0,147.0,132.0,154.0,False,0,0.0
153,逢魔蛾城の伯爵,2011,SA,NaN,183.285714,193.333333,149.0,152.0,123.0,142.0,151.0,148.0,False,0,0.0
183,小夜すみれ ～ある夜の森の小さなお話,2015,SA,NaN,195.000000,195.000000,165.0,156.0,153.0,153.0,175.0,157.0,False,0,0.0
195,魂ノ代,2015,S2,NaN,217.333333,240.500000,197.0,199.0,171.0,237.0,193.0,199.0,False,0,0.0

In [42]:
result[result.kind.str.contains('S1')]

,title,release,kind,2019u,average,average_exclude_debut,rank_average,rank_average_exclude_debut,highest,highest_exclude_debut,rank_highest,rank_highest_exclude_debut,under_100,over_100,over_100_average
8,フラワーチャイルド,1988,S1,NaN,207.454545,209.500000,184.0,176.0,133.0,133.0,161.0,136.0,False,0,0.000000
28,Wish,1996,S1,27.0,111.000000,116.800000,51.0,52.0,48.0,48.0,57.0,25.0,False,6,0.500000
33,ピアニィ・ピンク,1997,S1,49.0,130.545455,138.600000,72.0,71.0,50.0,89.0,60.0,81.0,False,4,0.333333
42,Anniversary of Angel,1997,S1,83.0,121.454545,128.200000,61.0,57.0,54.0,82.0,68.0,70.0,False,5,0.416667
79,pastel pure,2004,S1,NaN,197.818182,207.200000,169.0,171.0,104.0,160.0,127.0,168.0,False,0,0.000000
113,裸々イヴ新世紀,2009,S1,6.0,83.888889,93.250000,30.0,29.0,9.0,29.0,8.0,11.0,False,7,0.583333
116,戦慄の子供たち,2009,S1,59.0,79.625000,87.428571,28.0,21.0,25.0,55.0,25.0,35.0,False,6,0.500000
125,堕天國宣戦,2009,S1,11.0,50.125000,56.285714,7.0,4.0,7.0,14.0,4.0,1.0,True,8,0.666667
194,波羅蜜蓮華,2015,S1,NaN,57.333333,80.000000,8.0,16.0,12.0,70.0,9.0,57.0,True,3,0.250000

In [133]:
ura_list[(160 <= ura_list[2018]) & (ura_list[2018] <= 210)]

,title,kind,release,debut,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
1,マリーゴールド・ガーデン,OA/S2,1988,2005,141.0,162.0,142.0,150.0,175.0,141.0,218.0,141.0,238.0,190.0,155.0,164.0
3,紅い睡蓮の午後,OA/SA,1988,2005,144.0,176.0,153.0,164.0,188.0,204.0,136.0,190.0,183.0,244.0,237.0,209.0
4,桜の花は狂い咲き,OA/SA,1988,2005,86.0,126.0,116.0,109.0,96.0,123.0,68.0,169.0,165.0,100.0,134.0,164.0
6,パラソルのある風景,OA,1988,2005,187.0,167.0,178.0,179.0,175.0,160.0,168.0,156.0,200.0,189.0,130.0,175.0
9,メガロポリス・アリス -MEGALOPOLIS ALICE-,OA,1992,2005,49.0,59.0,72.0,128.0,158.0,89.0,129.0,156.0,150.0,201.0,219.0,209.0
12,空宙舞踏会,OA,1992,2005,136.0,154.0,137.0,140.0,175.0,217.0,218.0,173.0,253.0,244.0,155.0,186.0
14,堕ちて候,OA,1992,2005,101.0,100.0,77.0,89.0,109.0,136.0,129.0,223.0,200.0,180.0,202.0,200.0
17,舞踏会の手帖,S2/OA,1993,2005,92.0,137.0,174.0,171.0,223.0,153.0,196.0,223.0,198.0,180.0,219.0,184.0
18,エスカルゴ嬉遊曲,S2,1994,2005,56.0,66.0,91.0,109.0,155.0,194.0,161.0,188.0,215.0,216.0,213.0,200.0
19,雪のひとひら,OA,1994,2005,87.0,162.0,127.0,109.0,188.0,118.0,166.0,204.0,143.0,244.0,118.0,192.0
23,オフェリア遺文,OA/SA,1994,2005,124.0,79.0,99.0,104.0,103.0,124.0,91.0,126.0,113.0,111.0,187.0,169.0
24,Nous Deux C'est Pour La Vie,S2,1995,2005,44.0,65.0,80.0,118.0,117.0,107.0,95.0,136.0,136.0,186.0,151.0,181.0
27,Only Love Song,S2,1996,2005,187.0,129.0,185.0,150.0,158.0,217.0,189.0,147.0,200.0,201.0,202.0,200.0
34,月夜のピエレット,S2/OA,1997,2005,94.0,172.0,107.0,104.0,92.0,68.0,218.0,169.0,132.0,145.0,130.0,164.0
39,愛だけじゃない,ST,1997,2005,147.0,164.0,164.0,179.0,211.0,217.0,180.0,194.0,209.0,214.0,202.0,192.0
41,Cheri Cheri,ST,1997,2005,165.0,167.0,166.0,155.0,223.0,217.0,218.0,194.0,204.0,244.0,237.0,192.0
53,少女貴族,OA,2001,2005,24.0,26.0,36.0,52.0,48.0,47.0,78.0,107.0,69.0,88.0,199.0,192.0
55,MALICE,OA,2001,2005,81.0,90.0,90.0,128.0,158.0,153.0,218.0,194.0,220.0,201.0,187.0,206.0
57,桂花葬,OA,2001,2005,103.0,145.0,159.0,128.0,175.0,122.0,120.0,223.0,243.0,244.0,219.0,200.0
59,闇の翼でつべてをつつむ夜のためのアリア,OA/SA,2001,2005,136.0,101.0,161.0,128.0,198.0,116.0,136.0,91.0,183.0,190.0,151.0,192.0
62,宵待草,OA,2001,2005,168.0,137.0,155.0,150.0,198.0,204.0,142.0,223.0,116.0,244.0,161.0,209.0
64,熱帯性植物園,OA,2002,2005,51.0,70.0,115.0,109.0,135.0,100.0,158.0,132.0,80.0,74.0,176.0,175.0
71,Féliciter,SA,2003,2005,168.0,174.0,215.0,179.0,223.0,185.0,218.0,223.0,238.0,244.0,202.0,202.0
72,MOTHER,ST,2003,2005,154.0,179.0,170.0,140.0,204.0,190.0,168.0,194.0,220.0,244.0,187.0,192.0
77,Daphné,SA,2004,2005,185.0,199.0,226.0,214.0,223.0,217.0,189.0,223.0,234.0,244.0,219.0,186.0
79,pastel pure,S1,2004,2005,104.0,160.0,184.0,179.0,211.0,217.0,218.0,169.0,253.0,244.0,237.0,184.0
81,君がため、惜しからざりし命さへ,S2,2005,2005,32.0,87.0,96.0,93.0,106.0,127.0,218.0,223.0,192.0,160.0,237.0,160.0
85,S嬢の秘めやかな悔恨,S2,2005,2005,69.0,115.0,149.0,79.0,147.0,204.0,174.0,204.0,220.0,170.0,237.0,206.0
86,百合と夜鶯,SA,2005,2005,55.0,45.0,78.0,89.0,78.0,98.0,129.0,121.0,65.0,160.0,127.0,175.0
92,La calèche ～春の雪,SA,2006,2006,47.0,62.0,76.0,79.0,97.0,145.0,218.0,223.0,101.0,201.0,187.0,164.0
96,眠れる城,CA,2007,2007,27.0,60.0,103.0,85.0,147.0,138.0,174.0,150.0,128.0,201.0,213.0,186.0
97,名なしの森,CA,2007,2007,20.0,52.0,88.0,74.0,84.0,91.0,123.0,121.0,139.0,156.0,219.0,175.0
99,最愛なる魔王さま,S2,2007,2008,NaN,57.0,84.0,82.0,123.0,217.0,153.0,180.0,175.0,244.0,237.0,200.0
104,コヒブミ,S2,2008,2008,NaN,73.0,147.0,140.0,158.0,127.0,147.0,80.0,234.0,201.0,237.0,201.0
109,血の断章,OA,2008,2009,NaN,NaN,105.0,118.0,175.0,169.0,93.0,95.0,152.0,190.0,161.0,173.0
110,薨,OA,2008,2009,NaN,NaN,112.0,118.0,155.0,132.0,196.0,180.0,162.0,225.0,237.0,209.0
112,桂冠詩人,CA,2008,2009,NaN,NaN,45.0,118.0,135.0,181.0,142.0,126.0,169.0,212.0,237.0,209.0
121,Animals on the Earth,OA,2009,2010,NaN,NaN,NaN,35.0,45.0,76.0,142.0,94.0,148.0,109.0,95.0,175.0
123,この國の向こうに,OA,2009,2010,NaN,NaN,NaN,62.0,73.0,92.0,174.0,188.0,231.0,216.0,99.0,192.0
130,エルフの娘は地上に降り,SA,2010,2010,NaN,NaN,NaN,64.0,92.0,160.0,218.0,173.0,204.0,138.0,151.0,190.0
131,百合の日々は追憶の中に潜み薫る,SA,2010,2010,NaN,NaN,NaN,56.0,113.0,159.0,180.0,121.0,87.0,190.0,202.0,170.0
132,Adieu,SA,2010,2010,NaN,NaN,NaN,135.0,188.0,204.0,180.0,147.0,243.0,244.0,237.0,181.0
143,東方憧憬未見聞録,OA,2010,2011,NaN,NaN,NaN,NaN,45.0,85.0,89.0,172.0,198.0,135.0,219.0,174.0
150,修羅と蝶,SA,2011,2011,NaN,NaN,NaN,NaN,123.0,110.0,134.0,142.0,138.0,174.0,123.0,181.0
152,パピヨン輪廻,SA,2011,2011,NaN,NaN,NaN,NaN,81.0,105.0,174.0,223.0,253.0,225.0,169.0,200.0
165,Fräulein Rose,S2,2013,2013,NaN,NaN,NaN,NaN,NaN,NaN,80.0,180.0,243.0,225.0,219.0,190.0
168,薔薇娼館,OA,2013,2013,NaN,NaN,NaN,NaN,NaN,NaN,29.0,99.0,48.0,75.0,95.0,175.0
175,海賊皇女,OA,2014,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.0,146.0,225.0,187.0,206.0
187,快楽のススメ,OA,2015,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,26.0,161.0,170.0
190,狩猟令嬢ジビエ日誌,OA,2015,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.0,103.0,75.0,164.0
191,アタラクシア、そして対峙する自己,OA,2015,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.0,167.0,169.0,186.0
194,波羅蜜蓮華,S1,2015,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,70.0,90.0,170.0
198,最後の美術館,OA,2016,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,111.0,134.0,192.0

In [134]:
len(_)

53

In [124]:
my = ['桜の花は狂い咲き', '乙女の祈り', 'Rose Moon', '少女貴族', '熱帯性植物園', '遊月恋歌', '少女殉血', 'Animals on the Earth', '四神獣飼殺し', 'ALICE同罪イノセント', '陸と海と空と', '緋ノ糸輪廻ノGEMINI']
result.query('title in @my').join(ura_list[2018])

,title,release,kind,average,average_exclude_debut,rank_average,rank_average_exclude_debut,highest,highest_exclude_debut,rank_highest,rank_highest_exclude_debut,under_100,over_100,over_100_average,2018
4,桜の花は狂い咲き,1988,OA/SA,117.454545,117.454545,57.0,55.0,68.0,68.0,87.0,58.0,False,4,0.333333,164.0
46,乙女の祈り,1998,OA,105.454545,105.454545,48.0,42.0,52.0,52.0,65.0,38.0,False,6,0.500000,136.0
47,Rose Moon,1998,OA,90.636364,90.636364,33.0,26.0,51.0,51.0,62.0,36.0,False,8,0.666667,133.0
53,少女貴族,2001,OA,70.363636,70.363636,17.0,11.0,24.0,24.0,22.0,6.0,False,9,0.750000,192.0
64,熱帯性植物園,2002,OA,109.090909,109.090909,50.0,44.0,51.0,51.0,62.0,36.0,False,5,0.416667,175.0
65,遊月恋歌,2002,OA/SA,41.363636,41.363636,2.0,1.0,18.0,18.0,13.0,4.0,True,11,0.916667,110.0
74,少女殉血,2003,ST,113.727273,113.727273,54.0,51.0,27.0,27.0,28.0,10.0,False,5,0.416667,126.0
121,Animals on the Earth,2009,OA,93.000000,101.285714,36.0,39.0,35.0,45.0,40.0,25.0,False,5,0.416667,175.0
141,四神獣飼殺し,2010,OA,115.142857,129.833333,56.0,63.0,27.0,71.0,28.0,68.0,False,4,0.333333,115.0
159,ALICE同罪イノセント,2012,OA,72.333333,85.200000,20.0,20.0,8.0,35.0,6.0,20.0,False,5,0.416667,119.0
185,陸と海と空と,2015,OA,49.666667,65.500000,6.0,8.0,18.0,56.0,13.0,44.0,True,3,0.250000,114.0
193,緋ノ糸輪廻ノGEMINI,2015,OA,70.000000,88.500000,16.0,23.0,33.0,80.0,38.0,77.0,True,3,0.250000,147.0

In [122]:
# for idx, i in enumerate(map(lambda line: f'<p>{line}</p>', ura_list.title)):
#     print(i, end='')
#     if idx % 50 == 49:
#         print()

In [123]:
# for idx, i in enumerate(map(lambda line: f'<li>{line}</li>', ura_list.title)):
#     print(i, end='')
#     if idx % 100 == 99:
#         print()