In [421]:
# import 
import json
import sys

import pandas

In [422]:
# setting

## columns
COLUMNS_CALCED = [
    'average_all', 'average', 'average_exclude_debut', 'highest', 'highest_exclude_debut',
    'over30', 'over50', 'over100', 'over200', 'under30', 'under50', 'under100', 'under200', 'count_all', 'count'
]
COLUMNS = [
    'title', 'date', 'initial', 'kind', # 'r2019u',
    'r2007', 'r2008', 'r2009', 'r2010', 'r2011', 'r2012', 'r2013', 'r2014', 'r2015', 'r2016', 'r2017', 'r2018', 'r2019',
] + COLUMNS_CALCED
RECENT = 'r2019'
BEFORE = 'r2018'
URA = 'r2019'
RANK_ALL = ['r2005', 'r2006#1', 'r2006#2', 'r2007', 'r2008', 'r2009', 'r2010', 'r2011', 'r2012', 'r2013', 'r2014', 'r2015', 'r2016', 'r2017', 'r2018', 'r2019']
RANK = RANK_ALL[3:]

def year_filter(value: str, initial: str, array: list, mode: str = 'ge'):
    if mode not in ['gt', 'ge']:
        raise ValueError(f'invalid mode: {mode}')
    if value in array and initial in array:
        if mode == 'ge':
            return array.index(value) >= array.index(initial)
        else:
            return array.index(value) > array.index(initial)
    elif value in array:
        return True
    else:
        return False

### summary.json

In [423]:
# read json
SUMMARY_PATH = './summary.json'
with open(SUMMARY_PATH, encoding='utf8') as summary_file:
    summary = json.load(summary_file)

In [424]:
# make main dataframe
df = pandas.DataFrame(summary)
df.index = df.no
df['average_all'] = df.average
df = df.drop(columns=['no', 'average'], axis=0)
df.date = pandas.to_datetime(df.date)
df.head()

,title,ruby,inst,hall_of_fame,works,debut,date,r2019u,initial,kind,...,r2011,r2012,r2013,r2014,r2015,r2016,r2017,r2018,r2019,average_all
no,,,,,,,,,,,,,,,,,,,,,
1,桜の花は狂い咲き,None,False,False,"[SOME GIRLS -REBEL STREEL IV, CLASSICS, 月光嗜好症]",SOME GIRLS -REBEL STREEL IV,1997-04-25,64.0,r2005,"[SA, OA, OT]",...,96.0,123.0,68.0,169.0,165.0,100.0,134.0,164.0,123.0,121.462
2,青蛾月,None,False,False,"[幻想庭園, étoiles]",幻想庭園,1988-01-25,22.0,r2005,"[SA, OA]",...,72.0,57.0,54.0,87.0,81.0,59.0,146.0,126.0,54.0,80.923
3,マリーゴールド・ガーデン,None,False,False,"[幻想庭園, フラワーチャイルド, 神々の黄昏]",幻想庭園,1988-01-25,128.0,r2005,"[SA, OA, S-2]",...,175.0,141.0,218.0,141.0,238.0,190.0,155.0,164.0,216.0,171.769
4,鏡面界 im Juni,きょうめんかい・イン・ジュニ,False,False,[幻想庭園],幻想庭園,1988-01-25,150.0,r2005,[OA],...,204.0,131.0,174.0,194.0,253.0,244.0,202.0,250.0,260.0,201.077
5,アンジェ・ノワールの祭戯,None,False,False,"[幻想庭園, 神々の黄昏]",幻想庭園,1988-01-25,NaN,r2005,"[SA, OA]",...,81.0,96.0,150.0,106.0,156.0,244.0,187.0,63.0,106.0,125.615

#### works.json

In [425]:
WORKS_PATH = './works.json'
with open(WORKS_PATH, encoding='utf8') as works_file:
    works = json.load(works_file)

In [426]:
dfw = pandas.DataFrame(works)
dfw.date = pandas.to_datetime(dfw.date)
dfw.head()

                          title kind       date
0   SOME GIRLS -REBEL STREEL IV   OT 1997-04-25
1                          幻想庭園   OA 1988-01-25
2                     フラワーチャイルド    S 1988-07-25
3  恋せよ乙女 -Love story of ZIPANG-    S 1992-07-07
4                         月下の一群   OA 1992-12-09

#### info.json

In [427]:
INFO_PATH = './json/info.json'
with open(INFO_PATH, encoding='utf8') as info_file:
    info = json.load(info_file)

lowest = info['max']

* average  
平均順位  
注) データが揃っている2007年以降
* average_exclude_debut  
デビュー年以外の平均順位
* highest  
最高順位
* highest_exclude_debut  
デビュー年以外の最高順位
* over30  
30位を超えた回数
* over50  
50位を超えた回数
* over100  
100位を超えた回数
* over200  
200いを超えた回数
* count_all  
登場回数
* count  
データが揃っている登場回数

In [428]:
df['average'] = 0.
df['average_exclude_debut'] = 0.
df['highest'] = 0.
df['highest_exclude_debut'] = 0.
df['lowest'] = 0.
df['over30'] = 0
df['over50'] = 0
df['over100'] = 0
df['over200'] = 0
df['under30'] = 0
df['under50'] = 0
df['under100'] = 0
df['under200'] = 0
df['count_all'] = 0
df['count'] = 0

for no in df.index:
    song = df.loc[no]
    to_mean = list(filter(lambda y: year_filter(y, song.initial, RANK), RANK))
    to_mean_exclude_debut = list(filter(lambda y: year_filter(y, song.initial, RANK, 'gt'), RANK))
    df.average.at[no] = song[to_mean].mean()
    df.average_exclude_debut.at[no] = song[to_mean_exclude_debut].mean()
    df.highest_exclude_debut.at[no] = song[to_mean_exclude_debut].min()
    to_mean_all = list(filter(lambda y: year_filter(y, song.initial, RANK_ALL), RANK_ALL))
    df.highest.at[no] = song[to_mean_all].min()
    df.lowest.at[no] = song[to_mean_all].max()
    df.over30.at[no] = len(list(filter(lambda s: s > 30, song[to_mean_all].values)))
    df.over50.at[no] = len(list(filter(lambda s: s > 50, song[to_mean_all].values)))
    df.over100.at[no] = len(list(filter(lambda s: s > 100, song[to_mean_all].values)))
    df.over200.at[no] = len(list(filter(lambda s: s > 200, song[to_mean_all].values)))
    df.under30.at[no] = len(list(filter(lambda s: s <= 30, song[to_mean_all].values)))
    df.under50.at[no] = len(list(filter(lambda s: s <= 50, song[to_mean_all].values)))
    df.under100.at[no] = len(list(filter(lambda s: s <= 100, song[to_mean_all].values)))
    df.under200.at[no] = len(list(filter(lambda s: s <= 200, song[to_mean_all].values)))
    df.count_all.at[no] = len(to_mean_all)
    df.at[no, 'count'] = len(to_mean)

df.head()
# df.iloc[145]

,title,ruby,inst,hall_of_fame,works,debut,date,r2019u,initial,kind,...,over30,over50,over100,over200,under30,under50,under100,under200,count_all,count
no,,,,,,,,,,,,,,,,,,,,,
1,桜の花は狂い咲き,None,False,False,"[SOME GIRLS -REBEL STREEL IV, CLASSICS, 月光嗜好症]",SOME GIRLS -REBEL STREEL IV,1997-04-25,64.0,r2005,"[SA, OA, OT]",...,13,13,9,0,0,0,4,13,16,13
2,青蛾月,None,False,False,"[幻想庭園, étoiles]",幻想庭園,1988-01-25,22.0,r2005,"[SA, OA]",...,13,13,2,0,0,0,11,13,16,13
3,マリーゴールド・ガーデン,None,False,False,"[幻想庭園, フラワーチャイルド, 神々の黄昏]",幻想庭園,1988-01-25,128.0,r2005,"[SA, OA, S-2]",...,13,13,13,3,0,0,0,10,16,13
4,鏡面界 im Juni,きょうめんかい・イン・ジュニ,False,False,[幻想庭園],幻想庭園,1988-01-25,150.0,r2005,[OA],...,13,13,13,6,0,0,0,7,16,13
5,アンジェ・ノワールの祭戯,None,False,False,"[幻想庭園, 神々の黄昏]",幻想庭園,1988-01-25,NaN,r2005,"[SA, OA]",...,13,13,9,1,0,0,4,12,16,13

## Hall of Fame

In [480]:
df.query('hall_of_fame')[['title', *RANK_ALL]]

,title,r2005,r2006#1,r2006#2,r2007,r2008,r2009,r2010,r2011,r2012,r2013,r2014,r2015,r2016,r2017,r2018,r2019
no,,,,,,,,,,,,,,,,,
125,愛と誠,4.0,5.0,8.0,5.0,6.0,4.0,2.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
143,亡國覚醒カタルシス,NaN,NaN,3.0,2.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
279,リュウコウセカイ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,NaN,NaN,NaN

In [430]:
almost = df.query('highest == 1 & ~hall_of_fame & initial != @RECENT')[['title', 'date', *RANK_ALL]]
almost['count'] = (almost == 1).sum(1)
almost

,title,date,r2005,r2006#1,r2006#2,r2007,r2008,r2009,r2010,r2011,r2012,r2013,r2014,r2015,r2016,r2017,r2018,r2019,count
no,,,,,,,,,,,,,,,,,,,
99,戦争と平和,2002-07-24,1.0,1.0,10.0,10.0,7.0,11.0,12.0,12.0,7.0,12.0,14.0,25.0,16.0,15.0,45.0,37.0,2
132,北京LOVERS,2005-06-22,NaN,11.0,18.0,16.0,24.0,17.0,20.0,11.0,11.0,9.0,6.0,8.0,11.0,1.0,13.0,7.0,1
135,聖少女領域,2005-10-26,NaN,4.0,4.0,1.0,2.0,7.0,6.0,3.0,5.0,2.0,3.0,3.0,3.0,10.0,2.0,4.0,1
152,勇侠青春謳,2006-10-25,NaN,NaN,1.0,3.0,4.0,10.0,8.0,7.0,28.0,20.0,24.0,24.0,24.0,18.0,39.0,12.0,1
326,芸術変態論,2018-07-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,6.0,1

In [431]:
for no in almost.index:
    print(f'{almost.title.at[no]}|{almost.date.at[no].year}|{almost.at[no, "count"]}')

戦争と平和|2002|2
北京LOVERS|2005|1
聖少女領域|2005|1
勇侠青春謳|2006|1
芸術変態論|2018|1

# MAIN ranking

In [432]:
# target: exclude hall of fame and instrumentals
target = df.query('~hall_of_fame & ~inst').loc[:]
target['rank_average'] = target.average.rank(method='min', na_option='bottom')
target['rank_average_exclude_debut'] = target.average_exclude_debut.rank(method='min', na_option='bottom')
target['rank_highest'] = target.highest.rank(method='min', na_option='bottom')
target['rank_highest_exclude_debut'] = target.highest_exclude_debut.rank(method='min', na_option='bottom')
target.head()

,title,ruby,inst,hall_of_fame,works,debut,date,r2019u,initial,kind,...,under30,under50,under100,under200,count_all,count,rank_average,rank_average_exclude_debut,rank_highest,rank_highest_exclude_debut
no,,,,,,,,,,,,,,,,,,,,,
1,桜の花は狂い咲き,None,False,False,"[SOME GIRLS -REBEL STREEL IV, CLASSICS, 月光嗜好症]",SOME GIRLS -REBEL STREEL IV,1997-04-25,64.0,r2005,"[SA, OA, OT]",...,0,0,4,13,16,13,155.0,133.0,193.0,148.0
2,青蛾月,None,False,False,"[幻想庭園, étoiles]",幻想庭園,1988-01-25,22.0,r2005,"[SA, OA]",...,0,0,11,13,16,13,98.0,77.0,168.0,120.0
3,マリーゴールド・ガーデン,None,False,False,"[幻想庭園, フラワーチャイルド, 神々の黄昏]",幻想庭園,1988-01-25,128.0,r2005,"[SA, OA, S-2]",...,0,0,0,10,16,13,226.0,210.0,283.0,254.0
4,鏡面界 im Juni,きょうめんかい・イン・ジュニ,False,False,[幻想庭園],幻想庭園,1988-01-25,150.0,r2005,[OA],...,0,0,0,7,16,13,276.0,252.0,269.0,242.0
5,アンジェ・ノワールの祭戯,None,False,False,"[幻想庭園, 神々の黄昏]",幻想庭園,1988-01-25,NaN,r2005,"[SA, OA]",...,0,0,4,12,16,13,163.0,140.0,183.0,137.0

In [433]:
# dfw: works
for y in RANK_ALL:
    if y in RANK:
        dfw[f'{y}_average'] = 0.
    dfw[f'{y}_highest'] = 0.

for idx in dfw.index:
    df_tmp = df[df.works.apply(lambda ws: dfw.at[idx, 'title'] in ws)][RANK_ALL]
    mean = df_tmp.mean()
    for i in mean.index:
        if i not in RANK:
            continue
        dfw.at[idx, f'{i}_average'] = mean.at[i]
    high = df_tmp.min()
    for i in high.index:
        dfw.at[idx, f'{i}_highest'] = high.at[i]

dfw.head()

,title,kind,date,r2005_highest,r2006#1_highest,r2006#2_highest,r2007_average,r2007_highest,r2008_average,r2008_highest,...,r2015_average,r2015_highest,r2016_average,r2016_highest,r2017_average,r2017_highest,r2018_average,r2018_highest,r2019_average,r2019_highest
0,SOME GIRLS -REBEL STREEL IV,OT,1997-04-25,NaN,NaN,NaN,86.000000,86.0,126.000000,126.0,...,165.0,165.0,100.0,100.0,134.0,134.0,164.0,164.0,123.0,123.0
1,幻想庭園,OA,1988-01-25,NaN,NaN,NaN,146.090909,84.0,150.181818,77.0,...,178.2,81.0,184.6,59.0,182.9,130.0,157.4,56.0,185.7,54.0
2,フラワーチャイルド,S,1988-07-25,NaN,NaN,NaN,164.000000,141.0,179.500000,162.0,...,245.5,238.0,217.0,190.0,196.0,155.0,160.0,156.0,238.0,216.0
3,恋せよ乙女 -Love story of ZIPANG-,S,1992-07-07,13.0,13.0,NaN,37.000000,36.0,48.500000,48.0,...,62.0,31.0,138.5,52.0,66.5,20.0,41.0,24.0,88.0,44.0
4,月下の一群,OA,1992-12-09,19.0,13.0,NaN,104.000000,36.0,111.300000,48.0,...,166.6,34.0,187.1,104.0,162.8,54.0,177.7,43.0,150.1,52.0

## recent

In [434]:
target_recent = target[['title', 'works', 'debut', 'date', 'initial', 'kind', RECENT, *COLUMNS_CALCED]].astype({RECENT: int}).sort_values(RECENT)

target_recent.head()

,title,works,debut,date,initial,kind,r2019,average_all,average,average_exclude_debut,...,over30,over50,over100,over200,under30,under50,under100,under200,count_all,count
no,,,,,,,,,,,,,,,,,,,,,
338,BArADiPArADicA,[Fantasia],Fantasia,2019-08-28,r2019,[OA],1,1.000,1.000000,NaN,...,0,0,0,0,1,1,1,1,1,1
343,自由戀愛,[Fantasia],Fantasia,2019-08-28,r2019,[OA],2,2.000,2.000000,NaN,...,0,0,0,0,1,1,1,1,1,1
282,Lolicate,"[流行世界, 血と蜜 ～Anthology of Gothic Lolita＆Horror]",流行世界,2014-08-27,r2014,"[OA, CA]",3,6.833,6.833333,7.800000,...,0,0,0,0,6,6,6,6,6,6
135,聖少女領域,"[聖少女領域, ローゼンメイデン・トロイメント オリジナルサウンドトラック, ローゼンメイデ...",聖少女領域,2005-10-26,r2006#1,"[S-1, OT, ST, CA]",4,3.933,3.923077,3.923077,...,0,0,0,0,15,15,15,15,15,13
107,月蝕グランギニョル,"[月蝕グランギニョル, Avenger O.S.T., COLLECTION SIMPLE ...",月蝕グランギニョル,2003-11-05,r2005,"[S-1, SA, ST, CA]",5,4.750,4.846154,4.846154,...,0,0,0,0,16,16,16,16,16,13

In [435]:
for no in target_recent.head(20).index:
    mark = '**' if target_recent.initial.at[no] == RECENT else ''
    print(f'{target_recent.r2019.at[no]}|{mark}{target_recent.title.at[no]}{mark}|{target_recent.date.at[no].year}')

1|**BArADiPArADicA**|2019
2|**自由戀愛**|2019
3|Lolicate|2014
4|聖少女領域|2005
5|月蝕グランギニョル|2003
6|芸術変態論|2018
7|北京LOVERS|2005
8|未來のイヴ|2003
9|雪華懺悔心中|2008
10|GOD DIVA|2006
11|**少女のための残酷童話**|2019
12|勇侠青春謳|2006
13|今宵、碧い森深く|2006
14|**リアル×ファンタジー**|2019
15|**21世紀新青年**|2019
16|暗黒サイケデリック|2007
17|凶夢伝染|2012
18|卑弥呼外伝|2017
19|青嵐血風録|2007
20|人生美味礼讃|2005

In [498]:
# 初登場かどうか
top20 = pandas.DataFrame({r: [False] * 20 for r in RANK}, index=range(1, 21))
for r in RANK:
    tmp = df[df[r] <= 20].sort_values(r)[['title', r, 'initial']]
    for no in tmp.index:
        top20.at[int(tmp.at[no, r]), r] |= tmp.initial.at[no] == r

top20
# top20.sum()

,r2007,r2008,r2009,r2010,r2011,r2012,r2013,r2014,r2015,r2016,r2017,r2018,r2019
1,False,False,False,False,False,False,False,True,False,False,False,True,True
2,False,False,True,False,True,True,False,True,False,True,False,False,True
3,False,False,True,False,False,True,True,False,False,False,False,False,False
4,False,False,False,False,False,False,True,False,False,False,True,False,False
5,False,False,True,False,False,False,True,True,True,False,False,False,False
6,False,False,False,False,False,False,True,False,False,True,False,True,False
7,False,False,False,True,False,False,False,False,True,False,False,False,False
8,False,True,False,False,True,True,False,False,False,False,False,False,False
9,False,True,True,False,True,False,False,False,False,False,False,False,False
10,False,False,False,True,False,False,False,False,False,True,False,True,False
11,False,False,False,False,False,False,False,False,False,False,False,True,True
12,False,True,False,False,False,True,False,False,True,False,False,False,False
13,False,True,True,True,False,False,True,True,False,True,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,True
15,True,True,False,True,False,True,False,False,False,True,False,False,True
16,False,True,False,False,False,False,False,False,False,False,False,False,False
17,True,False,False,True,False,False,False,True,False,True,True,False,False
18,False,True,False,False,False,False,False,False,True,False,False,False,False
19,False,False,True,False,False,False,False,False,True,False,False,False,False
20,True,True,False,False,False,True,False,True,False,True,False,True,False

In [437]:
targetw_recent = dfw[['title', 'kind', 'date', f'{RECENT}_average', f'{RECENT}_highest']]

targetw_recent.head()

                          title kind       date  r2019_average  r2019_highest
0   SOME GIRLS -REBEL STREEL IV   OT 1997-04-25          123.0          123.0
1                          幻想庭園   OA 1988-01-25          185.7           54.0
2                     フラワーチャイルド    S 1988-07-25          238.0          216.0
3  恋せよ乙女 -Love story of ZIPANG-    S 1992-07-07           88.0           44.0
4                         月下の一群   OA 1992-12-09          150.1           52.0

### debut

In [438]:
debut = target_recent.query('initial == @RECENT')[['title', RECENT, 'debut', 'date']]
debut

,title,r2019,debut,date
no,,,,
338,BArADiPArADicA,1,Fantasia,2019-08-28
343,自由戀愛,2,Fantasia,2019-08-28
344,少女のための残酷童話,11,Fantasia,2019-08-28
340,リアル×ファンタジー,14,Fantasia,2019-08-28
339,21世紀新青年,15,Fantasia,2019-08-28
341,Maison de Bonbonnière,21,Fantasia,2019-08-28
348,WALTZ FOR DEBBY (Bill Evans),55,Fantasia,2019-08-28
345,恐怖の頭脳改革,61,Fantasia,2019-08-28
337,美しき獣たちの為の,68,『コードギアス 復活のルルーシュ』オリジナルサウンドトラック,2019-02-13
346,地球で,99,Fantasia,2019-08-28
342,月下、緑雨幻想,140,Fantasia,2019-08-28

In [439]:
for idx in range(len(debut)):
    print(f'{idx+1}|{debut.iloc[idx].title}|{debut.iloc[idx].debut}')

1|BArADiPArADicA|Fantasia
2|自由戀愛|Fantasia
3|少女のための残酷童話|Fantasia
4|リアル×ファンタジー|Fantasia
5|21世紀新青年|Fantasia
6|Maison de Bonbonnière|Fantasia
7|WALTZ FOR DEBBY (Bill Evans)|Fantasia
8|恐怖の頭脳改革|Fantasia
9|美しき獣たちの為の|『コードギアス 復活のルルーシュ』オリジナルサウンドトラック
10|地球で|Fantasia
11|月下、緑雨幻想|Fantasia

In [440]:
# recent 5 originals
or5 = dfw.query('kind == "OA"').tail(5)
or5['initial'] = or5.date.apply(lambda d: d.year)
initials = sorted(set(or5.initial.values))
col = [*[f'r{y}_average' for y in initials], *[f'r{y}_highest' for y in initials]]
or5[['title', *col]]

,title,r2014_average,r2015_average,r2016_average,r2018_average,r2019_average,r2014_highest,r2015_highest,r2016_highest,r2018_highest,r2019_highest
104,流行世界,19.333333,88.1,107.100000,115.222222,152.777778,1.0,1.0,1.0,8.0,3.0
106,快楽のススメ,NaN,44.6,102.100000,143.400000,151.400000,NaN,5.0,26.0,63.0,53.0
109,A級戒厳令,NaN,NaN,25.777778,89.777778,113.777778,NaN,NaN,2.0,9.0,22.0
114,芸術変態論,NaN,NaN,NaN,30.100000,83.300000,NaN,NaN,NaN,1.0,6.0
116,Fantasia,NaN,NaN,NaN,NaN,41.900000,NaN,NaN,NaN,NaN,1.0

In [441]:
target.groupby(by='initial')['title'].count()

initial
r2005      116
r2006#1      6
r2006#2     15
r2007        4
r2008       18
r2009       16
r2010       22
r2011       25
r2012       13
r2013       13
r2014        9
r2015       20
r2016        9
r2017        4
r2018       10
r2019       11
Name: title, dtype: int64

In [442]:
print(f'total : {len(df):>3d}')
print(f'target: {len(target):>3d}')
print(f'debut : {len(debut):>3d}')

total : 348
target: 311
debut :  11

## total

In [500]:
average_top = target.sort_values(['rank_average_exclude_debut', 'date'], ascending=[True, True]) \
                    .query('average_exclude_debut <= 20') \
                    [['title', 'rank_average_exclude_debut', 'average_exclude_debut', 'date']].astype({'rank_average_exclude_debut': int})

average_top

         title  rank_average_exclude_debut  average_exclude_debut       date
no
135      聖少女領域                           1               3.923077 2005-10-26
107  月蝕グランギニョル                           2               4.846154 2003-11-05
191     雪華懺悔心中                           3               5.800000 2008-08-27
326      芸術変態論                           4               6.000000 2018-07-25
282   Lolicate                           5               7.800000 2014-08-27
108      未來のイヴ                           6              11.076923 2003-11-05
132   北京LOVERS                           7              11.846154 2005-06-22
319    まだら恋椿外道                           8              13.000000 2016-08-24
145   GOD DIVA                           9              13.538462 2006-06-28
251       凶夢伝染                          10              14.571429 2012-01-25
322      卑弥呼外伝                          11              15.000000 2017-03-29
152      勇侠青春謳                          12              17.000000 2006-10-25
99       戦争と平和                          13              17.153846 2002-07-24
168      青嵐血風録                          14              18.272727 2007-08-22

In [444]:
highest_top = target.sort_values(['rank_highest', 'date'], ascending=[True, True]) \
                    .query('highest <= 20') \
                    [['title', 'rank_highest', 'highest', 'date']].astype({'rank_highest': int, 'highest': int})

highest_top

               title  rank_highest  highest       date
no
99             戦争と平和             1        1 2002-07-24
132         北京LOVERS             1        1 2005-06-22
135            聖少女領域             1        1 2005-10-26
152            勇侠青春謳             1        1 2006-10-25
326            芸術変態論             1        1 2018-07-25
..               ...           ...      ...        ...
178             王的血族            97       20 2007-10-03
257          真偽贋物遊覧会            97       20 2012-07-18
281         PANDEMIC            97       20 2014-08-27
314  薔薇美と百合寧の不思議なホテル            97       20 2016-08-24
333         或る修道士の告解            97       20 2018-07-25

[103 rows x 4 columns]

In [445]:
highest_top = target.sort_values(['rank_highest_exclude_debut', 'date'], ascending=[True, True]) \
                    .query('highest_exclude_debut <= 20') \
                    [['title', 'rank_highest_exclude_debut', 'highest_exclude_debut', 'date']].astype({'rank_highest_exclude_debut': int, 'highest_exclude_debut': int})

highest_top

,title,rank_highest_exclude_debut,highest_exclude_debut,date
no,,,,
132,北京LOVERS,1,1,2005-06-22
135,聖少女領域,1,1,2005-10-26
107,月蝕グランギニョル,3,2,2003-11-05
179,逢魔ヶ恋,3,2,2007-10-03
145,GOD DIVA,5,3,2006-06-28
152,勇侠青春謳,5,3,2006-10-25
183,わが﨟たし悪の華,5,3,2008-07-30
282,Lolicate,5,3,2014-08-27
108,未來のイヴ,9,4,2003-11-05
191,雪華懺悔心中,9,4,2008-08-27
121,禁じられた遊び,11,6,2004-10-22
168,青嵐血風録,11,6,2007-08-22
326,芸術変態論,11,6,2018-07-25
99,戦争と平和,14,7,2002-07-24
149,KING KNIGHT,14,7,2006-09-21
158,薔薇獄乙女,16,8,2006-12-06
319,まだら恋椿外道,16,8,2016-08-24
115,春葬,18,9,2004-06-23
171,胡蝶夢心中,18,9,2007-08-22
261,真夏の憂愁夫人,18,9,2012-07-18
126,人生美味礼讃,21,10,2005-06-22
274,黒百合隠密カゲキダン,21,10,2013-09-11
123,阿修羅姫,23,11,2005-06-08
173,欲望,23,11,2007-08-22
251,凶夢伝染,23,11,2012-01-25
269,ローズ家の双子達,26,12,2013-09-11
322,卑弥呼外伝,26,12,2017-03-29
112,地獄の季節,28,13,2003-12-03
157,今宵、碧い森深く,28,13,2006-12-06
88,妄想水族館,30,14,2001-07-25
166,跪いて足をお嘗め,30,14,2007-06-13
169,暗黒サイケデリック,30,14,2007-08-22
185,神風,30,14,2008-08-27
215,堕天國宣戦,30,14,2009-10-21
26,ヴェネツィアン・ラプソディー,35,16,1994-01-19
254,贋作師,35,16,2012-07-18
226,刀と鞘,37,17,2010-08-25
24,嵐ヶ丘,38,18,1993-06-09
95,遊月恋歌,38,18,2002-07-24
206,お毒味LADY,38,18,2009-08-26
128,緋紅的牡丹,41,19,2005-06-22
205,処女懐胎、あるいは白骨塔より少女達は飛翔する,41,19,2009-08-26
263,RED WALTZ,41,19,2012-07-18
14,共月亭で逢いましょう,44,20,1992-07-07
164,暗黒天国,44,20,2007-05-23

In [446]:
tmp = target.loc[:]
tmp['under10'] = 0
for no in tmp.index:
    song = tmp.loc[no]
    to_mean_all = list(filter(lambda y: year_filter(y, song.initial, RANK_ALL), RANK_ALL))
    tmp.under10.at[no] = len(list(filter(lambda s: s <= 10, song[to_mean_all].values)))
tmp['under10_mean'] = tmp.under10 / tmp.count_all
tmp.sort_values(['under10_mean', 'date'], ascending=[False, True]) \
   .query('under10_mean >= 1') \
   [['title', 'under10', 'under10_mean', 'date']]

              title  under10  under10_mean       date
no
107       月蝕グランギニョル       16           1.0 2003-11-05
135           聖少女領域       15           1.0 2005-10-26
191          雪華懺悔心中       11           1.0 2008-08-27
326           芸術変態論        2           1.0 2018-07-25
338  BArADiPArADicA        1           1.0 2019-08-28
343            自由戀愛        1           1.0 2019-08-28

In [447]:
tmp = target.loc[:]
tmp['under20'] = 0
for no in tmp.index:
    song = tmp.loc[no]
    to_mean_all = list(filter(lambda y: year_filter(y, song.initial, RANK_ALL), RANK_ALL))
    tmp.under20.at[no] = len(list(filter(lambda s: s <= 20, song[to_mean_all].values)))
tmp['under20_mean'] = tmp.under20 / tmp.count_all
tmp.sort_values(['under20_mean', 'date'], ascending=[False, True]) \
   .query('under20_mean >= 1') \
   [['title', 'under20', 'under20_mean', 'date']]

              title  under20  under20_mean       date
no
107       月蝕グランギニョル       16           1.0 2003-11-05
108           未來のイヴ       16           1.0 2003-11-05
135           聖少女領域       15           1.0 2005-10-26
191          雪華懺悔心中       11           1.0 2008-08-27
282        Lolicate        6           1.0 2014-08-27
322           卑弥呼外伝        3           1.0 2017-03-29
326           芸術変態論        2           1.0 2018-07-25
338  BArADiPArADicA        1           1.0 2019-08-28
339         21世紀新青年        1           1.0 2019-08-28
340      リアル×ファンタジー        1           1.0 2019-08-28
343            自由戀愛        1           1.0 2019-08-28
344      少女のための残酷童話        1           1.0 2019-08-28

In [448]:
tmp = target.loc[:]
tmp['under30_mean'] = tmp.under30 / tmp.count_all
tmp.sort_values(['under30_mean', 'date'], ascending=[False, True]) \
   .query('under30_mean >= 1') \
   [['title', 'under30', 'under30_mean', 'date']]

                     title  under30  under30_mean       date
no
107              月蝕グランギニョル       16           1.0 2003-11-05
108                  未來のイヴ       16           1.0 2003-11-05
135                  聖少女領域       15           1.0 2005-10-26
191                 雪華懺悔心中       11           1.0 2008-08-27
251                   凶夢伝染        8           1.0 2012-01-25
282               Lolicate        6           1.0 2014-08-27
319                まだら恋椿外道        4           1.0 2016-08-24
322                  卑弥呼外伝        3           1.0 2017-03-29
326                  芸術変態論        2           1.0 2018-07-25
331                     青空        2           1.0 2018-07-25
336                    魅惑劇        2           1.0 2018-07-25
338         BArADiPArADicA        1           1.0 2019-08-28
339                21世紀新青年        1           1.0 2019-08-28
340             リアル×ファンタジー        1           1.0 2019-08-28
341  Maison de Bonbonnière        1           1.0 2019-08-28
343                   自由戀愛        1           1.0 2019-08-28
344             少女のための残酷童話        1           1.0 2019-08-28

In [449]:
tmp = target.loc[:, :]
tmp['under50_mean'] = tmp.under50 / tmp.count_all
tmp.sort_values(['under50_mean', 'date'], ascending=[False, True]) \
   .query('under50_mean >= 1') \
   [['title', 'under50', 'under50_mean', 'date']]

                     title  under50  under50_mean       date
no
99                   戦争と平和       16           1.0 2002-07-24
107              月蝕グランギニョル       16           1.0 2003-11-05
108                  未來のイヴ       16           1.0 2003-11-05
112                  地獄の季節       16           1.0 2003-12-03
121                禁じられた遊び       16           1.0 2004-10-22
135                  聖少女領域       15           1.0 2005-10-26
145               GOD DIVA       14           1.0 2006-06-28
149            KING KNIGHT       14           1.0 2006-09-21
152                  勇侠青春謳       14           1.0 2006-10-25
168                  青嵐血風録       12           1.0 2007-08-22
191                 雪華懺悔心中       11           1.0 2008-08-27
251                   凶夢伝染        8           1.0 2012-01-25
282               Lolicate        6           1.0 2014-08-27
319                まだら恋椿外道        4           1.0 2016-08-24
320                  悪しき進化        4           1.0 2016-08-24
322                  卑弥呼外伝        3           1.0 2017-03-29
326                  芸術変態論        2           1.0 2018-07-25
331                     青空        2           1.0 2018-07-25
333               或る修道士の告解        2           1.0 2018-07-25
336                    魅惑劇        2           1.0 2018-07-25
338         BArADiPArADicA        1           1.0 2019-08-28
339                21世紀新青年        1           1.0 2019-08-28
340             リアル×ファンタジー        1           1.0 2019-08-28
341  Maison de Bonbonnière        1           1.0 2019-08-28
343                   自由戀愛        1           1.0 2019-08-28
344             少女のための残酷童話        1           1.0 2019-08-28

In [450]:
tmp = target.loc[:, :]
tmp['under100_mean'] = tmp.under100 / tmp.count_all
tmp.sort_values(['under100_mean', 'date'], ascending=[False, True]) \
   .query('under100_mean >= 1') \
   [['title', 'under100', 'under100_mean', 'date']]

                                title  under100  under100_mean       date
no
24                                嵐ヶ丘        16            1.0 1993-06-09
72                            コッペリアの柩        16            1.0 1999-12-24
99                              戦争と平和        16            1.0 2002-07-24
107                         月蝕グランギニョル        16            1.0 2003-11-05
108                             未來のイヴ        16            1.0 2003-11-05
112                             地獄の季節        16            1.0 2003-12-03
121                           禁じられた遊び        16            1.0 2004-10-22
126                            人生美味礼讃        16            1.0 2005-06-22
135                             聖少女領域        15            1.0 2005-10-26
145                          GOD DIVA        14            1.0 2006-06-28
149                       KING KNIGHT        14            1.0 2006-09-21
152                             勇侠青春謳        14            1.0 2006-10-25
158                             薔薇獄乙女        14            1.0 2006-12-06
166                          跪いて足をお嘗め        12            1.0 2007-06-13
168                             青嵐血風録        12            1.0 2007-08-22
169                         暗黒サイケデリック        12            1.0 2007-08-22
171                             胡蝶夢心中        12            1.0 2007-08-22
173                                欲望        12            1.0 2007-08-22
174                         暴夜layla幻談        12            1.0 2007-08-22
179                              逢魔ヶ恋        12            1.0 2007-10-03
183                          わが﨟たし悪の華        11            1.0 2008-07-30
191                            雪華懺悔心中        11            1.0 2008-08-27
204                          Poisoner        10            1.0 2009-08-26
226                               刀と鞘         9            1.0 2010-08-25
251                              凶夢伝染         8            1.0 2012-01-25
263                         RED WALTZ         8            1.0 2012-07-18
273                            少女と水蜜桃         7            1.0 2013-09-11
282                          Lolicate         6            1.0 2014-08-27
293  L’Amour Looks Something Like You         5            1.0 2015-01-21
302                        放蕩娘と無慈悲な遊戯         5            1.0 2015-09-09
314                   薔薇美と百合寧の不思議なホテル         4            1.0 2016-08-24
315                              絶叫哲学         4            1.0 2016-08-24
319                           まだら恋椿外道         4            1.0 2016-08-24
320                             悪しき進化         4            1.0 2016-08-24
322                             卑弥呼外伝         3            1.0 2017-03-29
324          少女蜜葬 ～Le sang et le miel         3            1.0 2017-06-21
326                             芸術変態論         2            1.0 2018-07-25
329                             少女昆蟲記         2            1.0 2018-07-25
331                                青空         2            1.0 2018-07-25
332                              極まれリ         2            1.0 2018-07-25
333                          或る修道士の告解         2            1.0 2018-07-25
336                               魅惑劇         2            1.0 2018-07-25
337                         美しき獣たちの為の         1            1.0 2019-02-13
338                    BArADiPArADicA         1            1.0 2019-08-28
339                           21世紀新青年         1            1.0 2019-08-28
340                        リアル×ファンタジー         1            1.0 2019-08-28
341             Maison de Bonbonnière         1            1.0 2019-08-28
343                              自由戀愛         1            1.0 2019-08-28
344                        少女のための残酷童話         1            1.0 2019-08-28
345                           恐怖の頭脳改革         1            1.0 2019-08-28
346                               地球で         1            1.0 2019-08-28
348      WALTZ FOR DEBBY (Bill Evans)         1            1.0 2019-08-28

#### first "over30"

In [451]:
target[target[RECENT] > 30].query('over30 == 1')

,title,ruby,inst,hall_of_fame,works,debut,date,r2019u,initial,kind,...,under100,under200,count_all,count,rank_average,rank_average_exclude_debut,rank_highest,rank_highest_exclude_debut,under50_mean,under100_mean
no,,,,,,,,,,,,,,,,,,,,,
328,ヤマトイズム,None,False,False,[芸術変態論],芸術変態論,2018-07-25,NaN,r2018,[OA],...,1,2,2,2,124.0,204.0,116.0,280.0,0.5,0.5
332,極まれリ,None,False,False,[芸術変態論],芸術変態論,2018-07-25,NaN,r2018,[OA],...,2,2,2,2,50.0,85.0,50.0,183.0,0.5,1.0
333,或る修道士の告解,None,False,False,[芸術変態論],芸術変態論,2018-07-25,NaN,r2018,[OA],...,2,2,2,2,29.0,26.0,97.0,72.0,1.0,1.0
337,美しき獣たちの為の,None,False,False,[『コードギアス 復活のルルーシュ』オリジナルサウンドトラック],『コードギアス 復活のルルーシュ』オリジナルサウンドトラック,2019-02-13,NaN,r2019,[ST],...,1,1,1,1,81.0,301.0,193.0,301.0,0.0,1.0
342,月下、緑雨幻想,None,False,False,[Fantasia],Fantasia,2019-08-28,NaN,r2019,[OA],...,0,1,1,1,183.0,301.0,281.0,301.0,0.0,0.0
345,恐怖の頭脳改革,None,False,False,[Fantasia],Fantasia,2019-08-28,NaN,r2019,[OA],...,1,1,1,1,69.0,301.0,178.0,301.0,0.0,1.0
346,地球で,テラで,False,False,[Fantasia],Fantasia,2019-08-28,NaN,r2019,[OA],...,1,1,1,1,126.0,301.0,233.0,301.0,0.0,1.0
348,WALTZ FOR DEBBY (Bill Evans),None,False,False,[Fantasia],Fantasia,2019-08-28,NaN,r2019,[OA],...,1,1,1,1,55.0,301.0,171.0,301.0,0.0,1.0

#### first "over50"

In [452]:
target[target[RECENT] > 50].query('over50 == 1')

,title,ruby,inst,hall_of_fame,works,debut,date,r2019u,initial,kind,...,under100,under200,count_all,count,rank_average,rank_average_exclude_debut,rank_highest,rank_highest_exclude_debut,under50_mean,under100_mean
no,,,,,,,,,,,,,,,,,,,,,
185,神風,None,False,False,"[禁書, 愛と誠 ～YAMATO＆LOVE×××]",禁書,2008-08-27,NaN,r2009,"[OA, CA]",...,10,11,11,11,37.0,31.0,61.0,30.0,0.909091,0.909091
327,Taolor Tの変身譚,None,False,False,[芸術変態論],芸術変態論,2018-07-25,NaN,r2018,[OA],...,1,2,2,2,113.0,153.0,152.0,249.0,0.500000,0.500000
328,ヤマトイズム,None,False,False,[芸術変態論],芸術変態論,2018-07-25,NaN,r2018,[OA],...,1,2,2,2,124.0,204.0,116.0,280.0,0.500000,0.500000
329,少女昆蟲記,None,False,False,[芸術変態論],芸術変態論,2018-07-25,NaN,r2018,[OA],...,2,2,2,2,44.0,42.0,138.0,113.0,0.500000,1.000000
332,極まれリ,None,False,False,[芸術変態論],芸術変態論,2018-07-25,NaN,r2018,[OA],...,2,2,2,2,50.0,85.0,50.0,183.0,0.500000,1.000000
334,タンゴ ダタ,None,False,False,[芸術変態論],芸術変態論,2018-07-25,NaN,r2018,[OA],...,1,2,2,2,102.0,146.0,132.0,243.0,0.500000,0.500000
337,美しき獣たちの為の,None,False,False,[『コードギアス 復活のルルーシュ』オリジナルサウンドトラック],『コードギアス 復活のルルーシュ』オリジナルサウンドトラック,2019-02-13,NaN,r2019,[ST],...,1,1,1,1,81.0,301.0,193.0,301.0,0.000000,1.000000
342,月下、緑雨幻想,None,False,False,[Fantasia],Fantasia,2019-08-28,NaN,r2019,[OA],...,0,1,1,1,183.0,301.0,281.0,301.0,0.000000,0.000000
345,恐怖の頭脳改革,None,False,False,[Fantasia],Fantasia,2019-08-28,NaN,r2019,[OA],...,1,1,1,1,69.0,301.0,178.0,301.0,0.000000,1.000000
346,地球で,テラで,False,False,[Fantasia],Fantasia,2019-08-28,NaN,r2019,[OA],...,1,1,1,1,126.0,301.0,233.0,301.0,0.000000,1.000000
348,WALTZ FOR DEBBY (Bill Evans),None,False,False,[Fantasia],Fantasia,2019-08-28,NaN,r2019,[OA],...,1,1,1,1,55.0,301.0,171.0,301.0,0.000000,1.000000

#### first "over100"

In [453]:
target[target[RECENT] > 100].query('over100 == 1')

,title,ruby,inst,hall_of_fame,works,debut,date,r2019u,initial,kind,...,under100,under200,count_all,count,rank_average,rank_average_exclude_debut,rank_highest,rank_highest_exclude_debut,under50_mean,under100_mean
no,,,,,,,,,,,,,,,,,,,,,
130,昭和恋々幻燈館,None,False,False,[Dilettante],Dilettante,2005-06-22,NaN,r2005,[OA],...,12,13,16,13,72.0,53.0,136.0,87.0,0.187500,0.750000
181,コトダマ,None,False,False,"[コトダマ, シゴフミ オリジナルサウンドトラック, La Vita Romantica, ...",コトダマ,2008-01-23,NaN,r2008,"[S-1, ST, CA]",...,11,11,12,12,71.0,60.0,39.0,72.0,0.416667,0.916667
185,神風,None,False,False,"[禁書, 愛と誠 ～YAMATO＆LOVE×××]",禁書,2008-08-27,NaN,r2009,"[OA, CA]",...,10,11,11,11,37.0,31.0,61.0,30.0,0.909091,0.909091
261,真夏の憂愁夫人,None,False,False,"[贋作師, 愛と誠 ～YAMATO＆LOVE×××]",贋作師,2012-07-18,NaN,r2012,"[OA, CA]",...,7,8,8,8,42.0,37.0,44.0,18.0,0.750000,0.875000
264,快恠奇奇,None,False,False,"[快恠奇奇 ALI PROJECT Ventennale Music, Art Exhibi...","快恠奇奇 ALI PROJECT Ventennale Music, Art Exhibition",2013-02-20,NaN,r2013,[CA],...,6,7,7,7,63.0,58.0,61.0,76.0,0.428571,0.857143
268,令嬢薔薇図鑑,None,False,False,"[令嬢薔薇図鑑, 血と蜜 ～Anthology of Gothic Lolita＆Horror]",令嬢薔薇図鑑,2013-09-11,NaN,r2013,"[OA, CA]",...,6,7,7,7,54.0,50.0,30.0,56.0,0.571429,0.857143
269,ローズ家の双子達,None,False,False,"[令嬢薔薇図鑑, 血と蜜 ～Anthology of Gothic Lolita＆Horror]",令嬢薔薇図鑑,2013-09-11,NaN,r2013,"[OA, CA]",...,6,7,7,7,45.0,45.0,18.0,26.0,0.714286,0.857143
317,昭和B級下手喰い道,None,False,False,[A級戒厳令],A級戒厳令,2016-08-24,NaN,r2016,[OA],...,3,4,4,4,66.0,74.0,30.0,94.0,0.500000,0.750000
318,女化生舞楽図,おんなけしょうぶがくず,False,False,"[A級戒厳令, 血と蜜 ～Anthology of Gothic Lolita＆Horror]",A級戒厳令,2016-08-24,NaN,r2016,"[OA, CA]",...,3,4,4,4,80.0,82.0,82.0,101.0,0.500000,0.750000
323,Royal Academy of Gothic Lolita,None,False,False,[血と蜜 ～Anthology of Gothic Lolita＆Horror],血と蜜 ～Anthology of Gothic Lolita＆Horror,2017-06-21,NaN,r2017,[CA],...,2,3,3,3,108.0,139.0,82.0,168.0,0.333333,0.666667
325,花と龍,None,False,False,[愛と誠 ～YAMATO＆LOVE×××],愛と誠 ～YAMATO＆LOVE×××,2017-09-27,NaN,r2017,[CA],...,2,3,3,3,129.0,160.0,109.0,185.0,0.333333,0.666667
327,Taolor Tの変身譚,None,False,False,[芸術変態論],芸術変態論,2018-07-25,NaN,r2018,[OA],...,1,2,2,2,113.0,153.0,152.0,249.0,0.500000,0.500000
328,ヤマトイズム,None,False,False,[芸術変態論],芸術変態論,2018-07-25,NaN,r2018,[OA],...,1,2,2,2,124.0,204.0,116.0,280.0,0.500000,0.500000
334,タンゴ ダタ,None,False,False,[芸術変態論],芸術変態論,2018-07-25,NaN,r2018,[OA],...,1,2,2,2,102.0,146.0,132.0,243.0,0.500000,0.500000
342,月下、緑雨幻想,None,False,False,[Fantasia],Fantasia,2019-08-28,NaN,r2019,[OA],...,0,1,1,1,183.0,301.0,281.0,301.0,0.000000,0.000000

#### first "over200"

In [454]:
target[target[RECENT] > 200].query('over200 == 1')

,title,ruby,inst,hall_of_fame,works,debut,date,r2019u,initial,kind,...,under100,under200,count_all,count,rank_average,rank_average_exclude_debut,rank_highest,rank_highest_exclude_debut,under50_mean,under100_mean
no,,,,,,,,,,,,,,,,,,,,,
8,パラソルのある風景,None,False,False,[幻想庭園],幻想庭園,1988-01-25,109.0,r2005,[OA],...,0,12,16,13,236.0,219.0,268.0,241.0,0.000000,0.000000
38,冬物語,None,False,False,[星と月のソナタ],星と月のソナタ,1995-12-06,86.0,r2005,[OA],...,1,12,16,13,187.0,169.0,216.0,179.0,0.000000,0.062500
40,ストロベリーパイをお食べ,None,False,False,"[緑山高校甲子園編 オリジナルサウンドトラック盤, jamais vu]",緑山高校甲子園編 オリジナルサウンドトラック盤,1995-12-06,63.0,r2005,"[ST, CA]",...,6,12,16,13,143.0,123.0,183.0,137.0,0.000000,0.375000
96,schism,None,False,False,[EROTIC & HERETIC],EROTIC & HERETIC,2002-07-24,NaN,r2005,[OA],...,8,12,16,13,130.0,105.0,151.0,100.0,0.062500,0.500000
181,コトダマ,None,False,False,"[コトダマ, シゴフミ オリジナルサウンドトラック, La Vita Romantica, ...",コトダマ,2008-01-23,NaN,r2008,"[S-1, ST, CA]",...,11,11,12,12,71.0,60.0,39.0,72.0,0.416667,0.916667
189,血の断章,None,False,False,"[禁書, 血と蜜 ～Anthology of Gothic Lolita＆Horror]",禁書,2008-08-27,73.0,r2009,"[OA, CA]",...,2,10,11,11,205.0,189.0,226.0,194.0,0.000000,0.181818
202,戦慄の子供たち,None,False,False,"[戦慄の子供たち, Phantom ～Requiem for the Phantom～ O....",戦慄の子供たち,2009-08-19,59.0,r2010,"[S-1, ST, CA]",...,6,9,10,10,120.0,110.0,113.0,122.0,0.100000,0.600000
209,Animals on the Earth,None,False,False,[Poison],Poison,2009-08-26,50.0,r2010,[OA],...,5,9,10,10,146.0,136.0,132.0,97.0,0.200000,0.500000
252,夜見のたそがれの、うつろなる蒼き瞳の。,None,False,False,"[凶夢伝染, 血と蜜 ～Anthology of Gothic Lolita＆Horror]",凶夢伝染,2012-01-25,51.0,r2012,"[S-2, CA]",...,4,7,8,8,159.0,142.0,200.0,157.0,0.000000,0.500000
276,見ぬ友へ,None,False,False,"[令嬢薔薇図鑑, 愛と誠 ～YAMATO＆LOVE×××]",令嬢薔薇図鑑,2013-09-11,36.0,r2013,"[OA, CA]",...,3,6,7,7,131.0,125.0,138.0,91.0,0.285714,0.428571
284,Femme Fatale,None,False,False,[流行世界],流行世界,2014-08-27,81.0,r2014,[OA],...,2,5,6,6,161.0,167.0,136.0,162.0,0.166667,0.333333
289,極楽鳥歌,None,False,False,[流行世界],流行世界,2014-08-27,98.0,r2014,[OA],...,0,4,6,6,189.0,170.0,252.0,220.0,0.000000,0.000000
304,禁忌 TABOO,タブー,False,False,[快楽のススメ],快楽のススメ,2015-09-09,68.0,r2015,[OA],...,2,4,5,5,145.0,155.0,118.0,179.0,0.200000,0.400000
305,狩猟令嬢ジビエ日誌,None,False,False,[快楽のススメ],快楽のススメ,2015-09-09,124.0,r2015,[OA],...,2,4,5,5,164.0,164.0,183.0,166.0,0.000000,0.400000
306,アタラクシア、そして対峙する自己,None,False,False,[快楽のススメ],快楽のススメ,2015-09-09,141.0,r2015,[OA],...,1,4,5,5,213.0,226.0,187.0,277.0,0.000000,0.200000
310,波羅蜜蓮華,None,False,False,"[波羅蜜蓮華, 落第騎士の英雄譚 O.S.T.]",波羅蜜蓮華,2015-10-21,141.0,r2015,"[S-1, ST]",...,3,4,5,5,142.0,157.0,57.0,157.0,0.200000,0.600000
312,永久戒厳令,None,False,False,"[A級戒厳令, 愛と誠 ～YAMATO＆LOVE×××]",A級戒厳令,2016-08-24,31.0,r2016,"[OA, CA]",...,2,3,4,4,165.0,187.0,138.0,191.0,0.250000,0.500000
316,最後の美術館,None,False,False,[A級戒厳令],A級戒厳令,2016-08-24,90.0,r2016,[OA],...,0,3,4,4,221.0,227.0,248.0,245.0,0.000000,0.000000

### no voted
#### last year

In [455]:
lowest[BEFORE] and target[target[BEFORE] == lowest[BEFORE]]

,title,ruby,inst,hall_of_fame,works,debut,date,r2019u,initial,kind,...,under100,under200,count_all,count,rank_average,rank_average_exclude_debut,rank_highest,rank_highest_exclude_debut,under50_mean,under100_mean
no,,,,,,,,,,,,,,,,,,,,,
4,鏡面界 im Juni,きょうめんかい・イン・ジュニ,False,False,[幻想庭園],幻想庭園,1988-01-25,150.0,r2005,[OA],...,0,7,16,13,276.0,252.0,269.0,242.0,0.000000,0.000000
20,木洩れ陽のワルツ,None,False,False,[月下の一群],月下の一群,1992-12-09,131.0,r2005,[OA],...,0,5,16,13,290.0,272.0,301.0,278.0,0.000000,0.000000
22,月光浴,None,False,False,"[月下の一群, 星と月のソナタ, Déjà Vu ～THE ORIGINAL BEST 19...",月下の一群,1992-12-09,179.0,r2005,"[OA, CA]",...,0,10,16,13,243.0,224.0,257.0,229.0,0.000000,0.000000
23,楽園喪失 -Paradise Lost-,None,False,False,"[月下の一群, Romance]",月下の一群,1992-12-09,128.0,r2005,"[SA, OA]",...,0,7,16,13,260.0,240.0,252.0,220.0,0.000000,0.000000
32,小夜啼鳥,ナイチンゲール,False,False,[DALI],DALI,1994-02-16,174.0,r2005,[OA],...,0,4,16,13,282.0,264.0,265.0,238.0,0.000000,0.000000
45,エンジェル・エッグの作り方,None,False,False,[music tracks from Wish],music tracks from Wish,1997-02-05,132.0,r2005,[ST],...,0,9,16,13,266.0,246.0,284.0,256.0,0.000000,0.000000
46,Chu Chu,None,False,False,[music tracks from Wish],music tracks from Wish,1997-02-05,150.0,r2005,[ST],...,0,2,16,13,304.0,289.0,278.0,249.0,0.000000,0.000000
47,Sanctuary,None,False,False,[music tracks from Wish],music tracks from Wish,1997-02-05,181.0,r2005,[ST],...,0,2,16,13,309.0,292.0,310.0,293.0,0.000000,0.000000
50,Water Drop,None,False,False,"[CLAMP学園探偵団 O.S.T 1, CLAMP学園探偵団 Vocal Collecti...",CLAMP学園探偵団 O.S.T 1,1997-06-21,194.0,r2005,"[ST, OT]",...,0,5,16,13,296.0,276.0,288.0,266.0,0.000000,0.000000
51,ぶくぶく空が…,None,False,False,"[CLAMP学園探偵団 O.S.T 2, CLAMP学園探偵団 Vocal Collection]",CLAMP学園探偵団 O.S.T 2,1997-10-22,194.0,r2005,[ST],...,0,4,16,13,299.0,284.0,305.0,283.0,0.000000,0.000000
52,カフェテラスでお茶をどうぞ,None,False,False,"[CLAMP学園探偵団 O.S.T 2, CLAMP学園探偵団 Vocal Collection]",CLAMP学園探偵団 O.S.T 2,1997-10-22,93.0,r2005,[ST],...,2,8,16,13,224.0,202.0,217.0,181.0,0.000000,0.125000
53,L'eternite,None,False,False,"[CLAMP学園探偵団 O.S.T 2, CLAMP学園探偵団 Vocal Collection]",CLAMP学園探偵団 O.S.T 2,1997-10-22,179.0,r2005,[ST],...,0,5,16,13,301.0,286.0,307.0,288.0,0.000000,0.000000
55,日曜日のシエスタ,None,False,False,"[CLAMP学園探偵団 Vocal Collection, étoiles]",CLAMP学園探偵団 Vocal Collection,1997-12-17,159.0,r2005,"[SA, ST]",...,0,7,16,13,256.0,236.0,265.0,238.0,0.000000,0.000000
57,Anniversary of Angel,None,False,False,"[Anniversary of Angel, CLAMPAZAR ～クランパザール～, CO...",Anniversary of Angel,1997-12-17,83.0,r2005,"[S-1, OT, CA]",...,5,11,16,13,178.0,156.0,168.0,120.0,0.000000,0.312500
58,天使に寄す,None,False,False,"[Anniversary of Angel, COLLECTION SIMPLE PLUS]",Anniversary of Angel,1997-12-17,167.0,r2005,"[S-2, CA]",...,0,8,16,13,268.0,247.0,257.0,229.0,0.000000,0.000000
65,堕落論,None,False,False,[Noblerot],Noblerot,1998-11-21,96.0,r2005,[OA],...,2,10,16,13,214.0,192.0,207.0,165.0,0.000000,0.125000
68,deep forest,None,False,False,[Noblerot],Noblerot,1998-11-21,169.0,r2005,[OA],...,0,5,16,13,300.0,285.0,288.0,266.0,0.000000,0.000000
69,LOST CHILD,None,False,False,"[Noblerot, 聖ルミナス女学院2 O.S.T]",Noblerot,1998-11-21,194.0,r2005,"[OA, ST]",...,0,5,16,13,287.0,270.0,295.0,272.0,0.000000,0.000000
75,Sacrifice,None,False,False,"[jamais vu, Aristocracy]",jamais vu,2000-08-04,148.0,r2005,"[OA, CA]",...,1,10,16,13,230.0,212.0,229.0,198.0,0.000000,0.062500
91,La vie en rose,None,False,False,[CLASSICS],CLASSICS,2001-07-25,174.0,r2005,[OA],...,0,4,16,13,297.0,282.0,291.0,268.0,0.000000,0.000000
110,繭,None,False,False,[Avenger O.S.T.],Avenger O.S.T.,2003-12-03,152.0,r2005,[ST],...,0,9,16,13,255.0,235.0,252.0,220.0,0.000000,0.000000
114,Je te veux,None,False,False,[étoiles],étoiles,2004-06-23,166.0,r2005,[SA],...,0,4,16,13,285.0,269.0,263.0,234.0,0.000000,0.000000
116,Après un rêve,None,False,False,[étoiles],étoiles,2004-06-23,194.0,r2005,[SA],...,0,3,16,13,302.0,287.0,295.0,272.0,0.000000,0.000000
118,わが恋は月光に散りぬ,None,False,False,[étoiles],étoiles,2004-06-23,184.0,r2005,[SA],...,0,4,16,13,293.0,274.0,286.0,263.0,0.000000,0.000000
142,Je te veux (Érik Satie),None,False,False,[神々の黄昏],神々の黄昏,2005-12-07,158.0,r2006#1,[SA],...,0,5,15,13,281.0,261.0,291.0,268.0,0.000000,0.000000
150,埋葬の森の黄昏坂,None,False,False,[.hack//Roots O.S.T. 2],.hack//Roots O.S.T. 2,2006-09-21,141.0,r2006#2,[ST],...,1,7,14,13,245.0,228.0,220.0,188.0,0.000000,0.071429
165,桃色天国,None,False,False,"[暗黒天国, La Vita Romantica]",暗黒天国,2007-05-23,141.0,r2008,"[S-2, CA]",...,1,9,12,12,223.0,216.0,187.0,206.0,0.000000,0.083333
172,纏われし者ら,None,False,False,[Psychedelic Insanity],Psychedelic Insanity,2007-08-22,169.0,r2008,[OA],...,1,9,12,12,237.0,230.0,227.0,237.0,0.000000,0.083333
176,若い死者からのレクイエム,None,False,False,[Psychedelic Insanity],Psychedelic Insanity,2007-08-22,103.0,r2008,[OA],...,2,10,12,12,203.0,191.0,198.0,194.0,0.000000,0.166667
180,Nocturnal,None,False,False,[Grand Finale],Grand Finale,2007-12-12,194.0,r2008,[SA],...,0,2,12,12,305.0,294.0,288.0,294.0,0.000000,0.000000
216,寶島,None,False,False,"[堕天國宣戦, QUEENDOM]",堕天國宣戦,2009-10-21,191.0,r2010,"[S-2, CA]",...,0,4,10,10,288.0,288.0,244.0,260.0,0.000000,0.000000
232,SENGOKU GIRL,None,False,False,[汎新日本主義],汎新日本主義,2010-09-26,162.0,r2011,[OA],...,1,4,9,9,262.0,267.0,193.0,217.0,0.000000,0.111111
233,帝都乙女決死隊,None,False,False,[汎新日本主義],汎新日本主義,2010-09-26,89.0,r2011,[OA],...,1,4,9,9,252.0,263.0,166.0,264.0,0.000000,0.111111
237,平和の因子,None,False,False,[汎新日本主義],汎新日本主義,2010-09-26,191.0,r2011,[OA],...,0,3,9,9,308.0,295.0,308.0,291.0,0.000000,0.000000
239,雪ノ女,None,False,False,"[刀語 歌曲集 其ノ壱, QUEENDOM]",刀語 歌曲集 其ノ壱,2011-03-02,137.0,r2011,"[ST, CA]",...,0,1,9,9,303.0,296.0,269.0,298.0,0.000000,0.000000
241,亡き王女のための…,None,False,False,[QUEENDOM],QUEENDOM,2011-05-25,191.0,r2011,[CA],...,0,1,9,9,307.0,299.0,274.0,298.0,0.000000,0.000000
249,君の名を,None,False,False,[Les Papillons],Les Papillons,2011-06-29,184.0,r2011,[SA],...,0,1,9,9,306.0,296.0,306.0,296.0,0.000000,0.000000
253,胎内ヒトガタ遊戯,None,False,False,[凶夢伝染],凶夢伝染,2012-01-25,134.0,r2012,[S-2],...,1,5,8,8,235.0,232.0,230.0,234.0,0.000000,0.125000
262,天譴と超克,None,False,False,[贋作師],贋作師,2012-07-18,56.0,r2012,[OA],...,3,7,8,8,156.0,150.0,125.0,148.0,0.125000,0.375000
267,乙女の贖い,None,False,False,"[私の薔薇を喰みなさい, 血と蜜 ～Anthology of Gothic Lolita＆H...",私の薔薇を喰みなさい,2013-07-24,80.0,r2013,"[S-2, CA]",...,3,6,7,7,172.0,174.0,155.0,103.0,0.142857,0.428571
270,隼の白バラ,None,False,False,"[令嬢薔薇図鑑, 愛と誠 ～YAMATO＆LOVE×××]",令嬢薔薇図鑑,2013-09-11,32.0,r2013,"[OA, CA]",...,1,6,7,7,174.0,178.0,145.0,215.0,0.142857,0.142857
291,恋は芸術気質,こいはげいじゅつかたぎ,False,False,[Violetta Operetta],Violetta Operetta,2015-01-21,119.0,r2015,[SA],...,0,2,5,5,273.0,273.0,273.0,245.0,0.000000,0.000000
294,すみれの花咲くころ,None,False,False,"[Violetta Operetta, ロマンティック花ソング2]",Violetta Operetta,2015-01-21,174.0,r2015,"[SA, OM]",...,0,0,5,5,310.0,298.0,311.0,296.0,0.000000,0.000000
296,小夜すみれ ～ある夜の森の小さなお話,None,False,False,[Violetta Operetta],Violetta Operetta,2015-01-21,194.0,r2015,[SA],...,0,2,5,5,292.0,281.0,287.0,264.0,0.000000,0.000000
297,Das Veilchen,ダス・ファイルヒェン,False,False,[Violetta Operetta],Violetta Operetta,2015-01-21,122.0,r2015,[SA],...,0,2,5,5,294.0,293.0,295.0,284.0,0.000000,0.000000
311,魂ノ代,たまのよ,False,False,[波羅蜜蓮華],波羅蜜蓮華,2015-10-21,194.0,r2015,[S-2],...,0,1,5,5,311.0,300.0,304.0,300.0,0.000000,0.000000

#### this year

In [456]:
lowest[RECENT] and target[target[RECENT] == lowest[RECENT]]

,title,ruby,inst,hall_of_fame,works,debut,date,r2019u,initial,kind,...,under100,under200,count_all,count,rank_average,rank_average_exclude_debut,rank_highest,rank_highest_exclude_debut,under50_mean,under100_mean
no,,,,,,,,,,,,,,,,,,,,,
4,鏡面界 im Juni,きょうめんかい・イン・ジュニ,False,False,[幻想庭園],幻想庭園,1988-01-25,150.0,r2005,[OA],...,0,7,16,13,276.0,252.0,269.0,242.0,0.000000,0.000000
8,パラソルのある風景,None,False,False,[幻想庭園],幻想庭園,1988-01-25,109.0,r2005,[OA],...,0,12,16,13,236.0,219.0,268.0,241.0,0.000000,0.000000
12,フラワーチャイルド,None,False,False,"[フラワーチャイルド, 幻想庭園, 快恠奇奇 ALI PROJECT Ventennale ...",フラワーチャイルド,1988-07-25,165.0,r2005,"[OA, S-1, CA]",...,0,5,16,13,283.0,265.0,272.0,243.0,0.000000,0.000000
20,木洩れ陽のワルツ,None,False,False,[月下の一群],月下の一群,1992-12-09,131.0,r2005,[OA],...,0,5,16,13,290.0,272.0,301.0,278.0,0.000000,0.000000
23,楽園喪失 -Paradise Lost-,None,False,False,"[月下の一群, Romance]",月下の一群,1992-12-09,128.0,r2005,"[SA, OA]",...,0,7,16,13,260.0,240.0,252.0,220.0,0.000000,0.000000
31,Virtual Fantasy,None,False,False,[DALI],DALI,1994-02-16,148.0,r2005,[OA],...,0,8,16,13,257.0,237.0,259.0,231.0,0.000000,0.000000
44,夢のあとに ～après un rêve～,None,False,False,"[Wish, music tracks from Wish, CLAMPAZAR ～クランパ...",Wish,1996-12-24,162.0,r2005,"[S-2, ST, OT, CA]",...,0,6,16,13,284.0,268.0,300.0,276.0,0.000000,0.000000
45,エンジェル・エッグの作り方,None,False,False,[music tracks from Wish],music tracks from Wish,1997-02-05,132.0,r2005,[ST],...,0,9,16,13,266.0,246.0,284.0,256.0,0.000000,0.000000
46,Chu Chu,None,False,False,[music tracks from Wish],music tracks from Wish,1997-02-05,150.0,r2005,[ST],...,0,2,16,13,304.0,289.0,278.0,249.0,0.000000,0.000000
47,Sanctuary,None,False,False,[music tracks from Wish],music tracks from Wish,1997-02-05,181.0,r2005,[ST],...,0,2,16,13,309.0,292.0,310.0,293.0,0.000000,0.000000
50,Water Drop,None,False,False,"[CLAMP学園探偵団 O.S.T 1, CLAMP学園探偵団 Vocal Collecti...",CLAMP学園探偵団 O.S.T 1,1997-06-21,194.0,r2005,"[ST, OT]",...,0,5,16,13,296.0,276.0,288.0,266.0,0.000000,0.000000
53,L'eternite,None,False,False,"[CLAMP学園探偵団 O.S.T 2, CLAMP学園探偵団 Vocal Collection]",CLAMP学園探偵団 O.S.T 2,1997-10-22,179.0,r2005,[ST],...,0,5,16,13,301.0,286.0,307.0,288.0,0.000000,0.000000
58,天使に寄す,None,False,False,"[Anniversary of Angel, COLLECTION SIMPLE PLUS]",Anniversary of Angel,1997-12-17,167.0,r2005,"[S-2, CA]",...,0,8,16,13,268.0,247.0,257.0,229.0,0.000000,0.000000
68,deep forest,None,False,False,[Noblerot],Noblerot,1998-11-21,169.0,r2005,[OA],...,0,5,16,13,300.0,285.0,288.0,266.0,0.000000,0.000000
69,LOST CHILD,None,False,False,"[Noblerot, 聖ルミナス女学院2 O.S.T]",Noblerot,1998-11-21,194.0,r2005,"[OA, ST]",...,0,5,16,13,287.0,270.0,295.0,272.0,0.000000,0.000000
75,Sacrifice,None,False,False,"[jamais vu, Aristocracy]",jamais vu,2000-08-04,148.0,r2005,"[OA, CA]",...,1,10,16,13,230.0,212.0,229.0,198.0,0.000000,0.062500
89,宵待草,None,False,False,[CLASSICS],CLASSICS,2001-07-25,100.0,r2005,[OA],...,0,8,16,13,244.0,225.0,250.0,218.0,0.000000,0.000000
91,La vie en rose,None,False,False,[CLASSICS],CLASSICS,2001-07-25,174.0,r2005,[OA],...,0,4,16,13,297.0,282.0,291.0,268.0,0.000000,0.000000
100,夢魔の夜、あなたを迎える者がある,None,False,False,[EROTIC & HERETIC],EROTIC & HERETIC,2002-07-24,141.0,r2005,[OA],...,0,6,16,13,259.0,239.0,264.0,236.0,0.000000,0.000000
104,プラトニック,None,False,False,[月光嗜好症],月光嗜好症,2003-04-23,62.0,r2005,[SA],...,1,11,16,13,218.0,197.0,227.0,196.0,0.000000,0.062500
109,MOTHER,None,False,False,"[Avenger O.S.T., 桂冠詩人 SINGLE COLLECTION PLUS]",Avenger O.S.T.,2003-12-03,157.0,r2005,"[ST, CA]",...,0,9,16,13,263.0,244.0,281.0,253.0,0.000000,0.000000
110,繭,None,False,False,[Avenger O.S.T.],Avenger O.S.T.,2003-12-03,152.0,r2005,[ST],...,0,9,16,13,255.0,235.0,252.0,220.0,0.000000,0.000000
114,Je te veux,None,False,False,[étoiles],étoiles,2004-06-23,166.0,r2005,[SA],...,0,4,16,13,285.0,269.0,263.0,234.0,0.000000,0.000000
116,Après un rêve,None,False,False,[étoiles],étoiles,2004-06-23,194.0,r2005,[SA],...,0,3,16,13,302.0,287.0,295.0,272.0,0.000000,0.000000
117,Daphné,None,False,False,[étoiles],étoiles,2004-06-23,190.0,r2005,[SA],...,0,4,16,13,298.0,283.0,309.0,292.0,0.000000,0.000000
118,わが恋は月光に散りぬ,None,False,False,[étoiles],étoiles,2004-06-23,184.0,r2005,[SA],...,0,4,16,13,293.0,274.0,286.0,263.0,0.000000,0.000000
136,S嬢の秘めやかな悔恨,None,False,False,"[聖少女領域, 薔薇架刑]",聖少女領域,2005-10-26,85.0,r2006#1,"[S-2, CA]",...,2,7,15,13,227.0,211.0,198.0,154.0,0.000000,0.133333
139,蜜薔薇庭園,None,False,False,"[神々の黄昏, 愛と誠 ～YAMATO＆LOVE×××]",神々の黄昏,2005-12-07,130.0,r2006#1,"[SA, CA]",...,0,6,15,13,246.0,229.0,237.0,204.0,0.000000,0.000000
142,Je te veux (Érik Satie),None,False,False,[神々の黄昏],神々の黄昏,2005-12-07,158.0,r2006#1,[SA],...,0,5,15,13,281.0,261.0,291.0,268.0,0.000000,0.000000
150,埋葬の森の黄昏坂,None,False,False,[.hack//Roots O.S.T. 2],.hack//Roots O.S.T. 2,2006-09-21,141.0,r2006#2,[ST],...,1,7,14,13,245.0,228.0,220.0,188.0,0.000000,0.071429
156,さいごの戀,None,False,False,[Romance],Romance,2006-12-06,159.0,r2006#2,[SA],...,1,8,14,13,254.0,234.0,221.0,189.0,0.000000,0.071429
165,桃色天国,None,False,False,"[暗黒天国, La Vita Romantica]",暗黒天国,2007-05-23,141.0,r2008,"[S-2, CA]",...,1,9,12,12,223.0,216.0,187.0,206.0,0.000000,0.083333
180,Nocturnal,None,False,False,[Grand Finale],Grand Finale,2007-12-12,194.0,r2008,[SA],...,0,2,12,12,305.0,294.0,288.0,294.0,0.000000,0.000000
189,血の断章,None,False,False,"[禁書, 血と蜜 ～Anthology of Gothic Lolita＆Horror]",禁書,2008-08-27,73.0,r2009,"[OA, CA]",...,2,10,11,11,205.0,189.0,226.0,194.0,0.000000,0.181818
199,騎士乙女,None,False,False,"[裸々イヴ新世紀, Gothic Opera, QUEENDOM, 愛と誠 ～YAMATO＆...",裸々イヴ新世紀,2009-01-21,91.0,r2009,"[SA, S-2, CA]",...,3,7,11,11,210.0,201.0,142.0,148.0,0.090909,0.272727
212,この國の向こうに,None,False,False,"[Poison, 愛と誠 ～YAMATO＆LOVE×××]",Poison,2009-08-26,115.0,r2010,"[OA, CA]",...,4,7,10,10,211.0,203.0,180.0,162.0,0.000000,0.400000
216,寶島,None,False,False,"[堕天國宣戦, QUEENDOM]",堕天國宣戦,2009-10-21,191.0,r2010,"[S-2, CA]",...,0,4,10,10,288.0,288.0,244.0,260.0,0.000000,0.000000
217,月光オペラの天鵞絨の緞帳は上がり,None,False,False,[Gothic Opera],Gothic Opera,2010-03-17,169.0,r2010,[SA],...,1,3,10,10,274.0,279.0,191.0,256.0,0.000000,0.100000
219,私の心は語る薔薇の御胸を葩の御身を,わたしのこころはかたるばらのみむねをはなのおんみを,False,False,[Gothic Opera],Gothic Opera,2010-03-17,162.0,r2010,[SA],...,1,4,10,10,264.0,257.0,230.0,220.0,0.000000,0.100000
223,Adieu,None,False,False,"[Gothic Opera, 愛と誠 ～YAMATO＆LOVE×××]",Gothic Opera,2010-03-17,184.0,r2010,"[SA, CA]",...,0,5,10,10,278.0,271.0,274.0,260.0,0.000000,0.000000
229,髑髏ヶ城の巫女達は永久に現世の夢を見る,どくろがじょうのみこたちはえいきゅうにげんせのゆめをみる,False,False,[汎新日本主義],汎新日本主義,2010-09-26,109.0,r2011,[OA],...,0,3,9,9,295.0,291.0,269.0,275.0,0.000000,0.000000
232,SENGOKU GIRL,None,False,False,[汎新日本主義],汎新日本主義,2010-09-26,162.0,r2011,[OA],...,1,4,9,9,262.0,267.0,193.0,217.0,0.000000,0.111111
237,平和の因子,None,False,False,[汎新日本主義],汎新日本主義,2010-09-26,191.0,r2011,[OA],...,0,3,9,9,308.0,295.0,308.0,291.0,0.000000,0.000000
241,亡き王女のための…,None,False,False,[QUEENDOM],QUEENDOM,2011-05-25,191.0,r2011,[CA],...,0,1,9,9,307.0,299.0,274.0,298.0,0.000000,0.000000
242,秘密の花薗,None,False,False,"[Les Papillons, 血と蜜 ～Anthology of Gothic Lolit...",Les Papillons,2011-06-29,141.0,r2011,"[SA, CA]",...,0,4,9,9,277.0,275.0,240.0,285.0,0.000000,0.000000
245,眼帯兎と包帯羊のMärchen,None,False,False,"[Les Papillons, 血と蜜 ～Anthology of Gothic Lolit...",Les Papillons,2011-06-29,140.0,r2011,"[SA, CA]",...,1,4,9,9,252.0,255.0,221.0,220.0,0.000000,0.111111
246,パピヨン輪廻,None,False,False,[Les Papillons],Les Papillons,2011-06-29,106.0,r2011,[SA],...,1,5,9,9,248.0,253.0,213.0,209.0,0.000000,0.111111
249,君の名を,None,False,False,[Les Papillons],Les Papillons,2011-06-29,184.0,r2011,[SA],...,0,1,9,9,306.0,296.0,306.0,296.0,0.000000,0.000000
272,朗読する女中と小さな令嬢,None,False,False,"[令嬢薔薇図鑑, 血と蜜 ～Anthology of Gothic Lolita＆Horror]",令嬢薔薇図鑑,2013-09-11,87.0,r2013,"[OA, CA]",...,0,3,7,7,267.0,254.0,261.0,233.0,0.000000,0.000000
294,すみれの花咲くころ,None,False,False,"[Violetta Operetta, ロマンティック花ソング2]",Violetta Operetta,2015-01-21,174.0,r2015,"[SA, OM]",...,0,0,5,5,310.0,298.0,311.0,296.0,0.000000,0.000000
297,Das Veilchen,ダス・ファイルヒェン,False,False,[Violetta Operetta],Violetta Operetta,2015-01-21,122.0,r2015,[SA],...,0,2,5,5,294.0,293.0,295.0,284.0,0.000000,0.000000
311,魂ノ代,たまのよ,False,False,[波羅蜜蓮華],波羅蜜蓮華,2015-10-21,194.0,r2015,[S-2],...,0,1,5,5,311.0,300.0,304.0,300.0,0.000000,0.000000

### highest ever
(exclude recent year)

In [457]:
target[target.highest == target[RECENT]].query('initial != @RECENT')[['title', *RANK_ALL]]

,title,r2005,r2006#1,r2006#2,r2007,r2008,r2009,r2010,r2011,r2012,r2013,r2014,r2015,r2016,r2017,r2018,r2019
no,,,,,,,,,,,,,,,,,
2,青蛾月,NaN,NaN,NaN,84.0,77.0,73.0,82.0,72.0,57.0,54.0,87.0,81.0,59.0,146.0,126.0,54.0
102,Nostalgia,NaN,NaN,NaN,151.0,145.0,114.0,135.0,128.0,134.0,110.0,142.0,172.0,131.0,199.0,133.0,77.0
157,今宵、碧い森深く,NaN,NaN,NaN,23.0,23.0,27.0,30.0,20.0,38.0,32.0,32.0,30.0,27.0,29.0,16.0,13.0
292,修道院の廃庭にて,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,167.0,225.0,161.0,214.0,101.0

### lowest ever
(voted in recent year)

In [458]:
target[(target.lowest == target[RECENT]) & (target[RECENT] != lowest[RECENT])].query('initial != @RECENT')[['title', *RANK_ALL]]

,title,r2005,r2006#1,r2006#2,r2007,r2008,r2009,r2010,r2011,r2012,r2013,r2014,r2015,r2016,r2017,r2018,r2019
no,,,,,,,,,,,,,,,,,
27,エスカルゴ嬉遊曲,NaN,NaN,NaN,56.0,66.0,91.0,109.0,155.0,194.0,161.0,188.0,215.0,216.0,213.0,200.0,226.0
38,冬物語,NaN,NaN,NaN,135.0,128.0,135.0,155.0,158.0,150.0,155.0,130.0,200.0,84.0,108.0,103.0,226.0
40,ストロベリーパイをお食べ,NaN,NaN,NaN,68.0,63.0,74.0,81.0,89.0,127.0,82.0,150.0,115.0,136.0,118.0,151.0,226.0
96,schism,NaN,NaN,NaN,46.0,74.0,71.0,104.0,97.0,104.0,93.0,76.0,189.0,115.0,59.0,57.0,226.0
98,時の森のソワレ,17.0,NaN,NaN,66.0,88.0,86.0,85.0,84.0,94.0,123.0,109.0,106.0,138.0,146.0,136.0,159.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331,青空,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,24.0
332,極まれリ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,86.0
333,或る修道士の告解,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,32.0
334,タンゴ ダタ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.0,133.0
336,魅惑劇,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,25.0

### diff

In [459]:
diff = target.query('initial != @RECENT')
diff['diff'] = diff[BEFORE] - diff[RECENT]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

### up

In [460]:
diff.sort_values('diff', ascending=False)[['title', 'diff']].head(10)

                              title   diff
no
77                             少女貴族  134.0
262                           天譴と超克  133.0
15   メガロポリス・アリス -MEGALOPOLIS ALICE-  131.0
270                           隼の白バラ  125.0
133                             鎮魂頌  125.0
292                        修道院の廃庭にて  113.0
33     星降る夜の天文学 ～BEDSIDE ASTRONOMY～  107.0
62                         Halation   91.0
254                             贋作師   90.0
16                             ビアンカ   88.0

### down

In [461]:
diff.sort_values('diff')[['title', 'diff']].head(10)

                title   diff
no
96             schism -169.0
328            ヤマトイズム -144.0
272      朗読する女中と小さな令嬢 -138.0
181              コトダマ -128.0
38                冬物語 -123.0
201  吾君想う故に吾在り生き霊となりて -122.0
170      CYBER DEVILS -121.0
104            プラトニック -112.0
325               花と龍 -105.0
185                神風 -105.0

### top average works
#### S

In [462]:
dfw.query('kind == "S"').sort_values(f'{RECENT}_average')

,title,kind,date,r2005_highest,r2006#1_highest,r2006#2_highest,r2007_average,r2007_highest,r2008_average,r2008_highest,...,r2015_average,r2015_highest,r2016_average,r2016_highest,r2017_average,r2017_highest,r2018_average,r2018_highest,r2019_average,r2019_highest
33,月蝕グランギニョル,S,2003-11-05,5.0,3.0,5.0,9.0,4.0,12.0,5.0,...,8.000000,6.0,6.000000,4.0,9.000000,2.0,3.500000,3.0,6.500000,5.0
111,卑弥呼外伝,S,2017-03-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.000000,4.0,12.000000,12.0,18.000000,18.0
29,コッペリアの柩 (Hyper Remix Version),S,2001-09-21,7.0,17.0,17.0,22.0,22.0,43.0,43.0,...,38.000000,38.0,58.000000,58.0,85.000000,85.0,78.000000,78.0,42.000000,42.0
56,勇侠青春謳,S,2006-10-25,NaN,NaN,1.0,16.5,3.0,36.0,4.0,...,71.500000,24.0,47.000000,24.0,41.500000,18.0,130.000000,39.0,54.000000,12.0
62,跪いて足をお嘗め,S,2007-06-13,NaN,NaN,NaN,NaN,NaN,33.0,9.0,...,115.500000,56.0,137.000000,30.0,143.000000,49.0,115.000000,30.0,81.000000,38.0
3,恋せよ乙女 -Love story of ZIPANG-,S,1992-07-07,13.0,13.0,NaN,37.0,36.0,48.5,48.0,...,62.000000,31.0,138.500000,52.0,66.500000,20.0,41.000000,24.0,88.000000,44.0
69,わが臈たし悪の華,S,2008-07-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,110.500000,26.0,95.500000,31.0,102.500000,29.0,117.500000,21.0,89.500000,23.0
26,コッペリアの柩,S,2001-05-23,7.0,17.0,17.0,50.0,22.0,70.0,43.0,...,85.000000,38.0,100.000000,58.0,113.000000,85.0,116.000000,78.0,99.500000,42.0
58,薔薇獄乙女,S,2006-12-06,NaN,NaN,2.0,18.0,8.0,51.0,17.0,...,88.000000,37.0,133.000000,41.0,123.500000,34.0,102.500000,61.0,101.000000,35.0
11,星月夜 ～ルシファー第四楽章～,S,1996-08-01,NaN,NaN,NaN,138.0,89.0,116.5,104.0,...,122.500000,45.0,134.000000,67.0,123.000000,44.0,129.500000,59.0,103.000000,36.0
72,鬼帝の剣,S,2008-11-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,127.000000,102.0,93.000000,90.0,65.000000,57.0,36.500000,23.0,109.000000,93.0
5,嵐ヶ丘,S,1993-06-09,15.0,2.0,13.0,55.5,19.0,83.5,30.0,...,116.500000,35.0,104.500000,29.0,125.500000,32.0,118.500000,53.0,110.500000,29.0
42,阿修羅姫,S,2005-06-08,3.0,10.0,14.0,21.5,11.0,56.0,25.0,...,143.000000,94.0,104.000000,48.0,142.500000,48.0,94.000000,28.0,113.000000,67.0
39,禁じられた遊び,S,2004-10-22,2.0,6.0,9.0,18.5,6.0,29.0,11.0,...,76.500000,32.0,94.500000,19.0,125.000000,13.0,87.500000,27.0,114.000000,27.0
20,LABYRINTH,S,1998-10-21,NaN,NaN,NaN,69.0,59.0,118.5,95.0,...,109.500000,87.0,128.000000,125.0,139.000000,109.0,111.500000,73.0,125.500000,96.0
91,刀と鞘,S,2010-08-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,144.000000,54.0,146.500000,68.0,128.000000,80.0,144.000000,67.0,127.000000,28.0
50,亡國覚醒カタルシス,S,2006-05-24,NaN,NaN,3.0,32.0,2.0,49.5,1.0,...,99.000000,99.0,98.000000,98.0,158.000000,158.0,154.000000,154.0,130.000000,130.0
44,聖少女領域,S,2005-10-26,NaN,4.0,4.0,35.0,1.0,58.5,2.0,...,111.500000,3.0,86.500000,3.0,123.500000,10.0,104.000000,2.0,132.000000,4.0
8,雨のソナタ ～La Pluie～,S,1995-10-18,16.0,17.0,NaN,74.5,44.0,89.0,65.0,...,105.000000,74.0,132.500000,79.0,109.000000,67.0,126.500000,72.0,133.000000,87.0
78,地獄之門,S,2009-05-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,135.000000,95.0,174.000000,147.0,109.500000,50.0,73.000000,42.0,145.500000,65.0
15,ピアニィ・ピンク,S,1997-05-21,NaN,NaN,NaN,72.0,50.0,131.5,91.0,...,149.000000,132.0,173.000000,145.0,148.500000,130.0,139.500000,115.0,146.000000,76.0
90,亂世エロイカ,S,2010-07-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,141.500000,104.0,123.500000,111.0,116.500000,92.0,113.000000,80.0,149.500000,133.0
99,私の薔薇を喰みなさい,S,2013-07-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,140.000000,48.0,142.666667,53.0,147.333333,62.0,166.666667,60.0,150.333333,83.0
96,凶夢伝染,S,2012-01-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99.333333,15.0,105.666667,23.0,101.000000,11.0,139.333333,14.0,151.333333,17.0
6,ヴェネツィアン・ラプソディー,S,1994-01-19,NaN,15.0,NaN,45.5,35.0,60.0,54.0,...,115.500000,16.0,117.000000,18.0,138.000000,63.0,120.500000,41.0,158.500000,91.0
61,暗黒天国,S,2007-05-23,NaN,NaN,NaN,NaN,NaN,41.0,18.0,...,106.500000,59.0,124.000000,32.0,95.500000,53.0,168.000000,86.0,166.500000,73.0
86,堕天國宣戦,S,2009-10-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,168.500000,84.0,158.500000,73.0,162.000000,87.0,194.000000,138.0,191.000000,122.0
80,戦慄の子供たち,S,2009-08-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,129.000000,79.0,130.500000,101.0,129.000000,82.0,118.500000,115.0,196.500000,192.0
76,裸々イヴ新世紀,S,2009-01-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,193.500000,175.0,195.500000,147.0,137.500000,99.0,172.500000,124.0,200.500000,141.0
67,コトダマ,S,2008-01-23,NaN,NaN,NaN,NaN,NaN,40.5,8.0,...,139.000000,44.0,128.500000,56.0,154.500000,72.0,142.000000,83.0,213.500000,211.0
13,Wish,S,1996-12-24,NaN,NaN,NaN,110.5,53.0,135.0,71.0,...,198.000000,143.0,199.500000,174.0,176.000000,176.0,181.500000,142.0,217.000000,174.0
37,pastel pure,S,2004-08-25,NaN,NaN,NaN,104.0,104.0,160.0,160.0,...,253.000000,253.0,244.000000,244.0,237.000000,237.0,184.000000,184.0,226.000000,226.0
19,Anniversary of Angel,S,1997-12-17,NaN,NaN,NaN,86.5,54.0,134.5,99.0,...,216.000000,179.0,161.500000,156.0,129.000000,82.0,250.000000,250.0,235.500000,211.0
2,フラワーチャイルド,S,1988-07-25,NaN,NaN,NaN,164.0,141.0,179.5,162.0,...,245.500000,238.0,217.000000,190.0,196.000000,155.0,160.000000,156.0,238.000000,216.0
107,波羅蜜蓮華,S,2015-10-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,91.500000,12.0,157.000000,70.0,163.500000,90.0,210.000000,170.0,243.000000,226.0

#### OA, SA, CA

In [463]:
dfw.query('kind in ["OA", "SA", "CA"]').sort_values(f'{RECENT}_average')[['title', f'{BEFORE}_average', f'{RECENT}_average']]

,title,r2018_average,r2019_average
116,Fantasia,NaN,41.900000
43,Dilettante,93.875000,77.000000
114,芸術変態論,30.100000,83.300000
73,桂冠詩人 SINGLE COLLECTION PLUS,110.230769,94.846154
98,"快恠奇奇 ALI PROJECT Ventennale Music, Art Exhibition",74.709677,96.677419
66,Grand Finale,107.571429,99.428571
63,Psychedelic Insanity,97.444444,102.888889
31,EROTIC & HERETIC,109.500000,109.200000
109,A級戒厳令,89.777778,113.777778
113,愛と誠 ～YAMATO＆LOVE×××,115.580645,115.741935
32,月光嗜好症,114.500000,119.250000
112,血と蜜 ～Anthology of Gothic Lolita＆Horror,99.451613,119.774194
97,贋作師,136.500000,121.400000
60,薔薇架刑,110.666667,123.583333
52,COLLECTION SIMPLE PLUS,123.000000,126.500000
49,Déjà Vu ～THE ORIGINAL BEST 1992-1995～,145.000000,128.357143
9,星と月のソナタ,134.300000,135.400000
7,DALI,141.888889,137.333333
21,Noblerot,159.700000,139.000000
57,Romance,147.111111,141.444444
87,La Vita Romantica,120.923077,143.846154
24,jamais vu,121.400000,146.600000
71,禁書,130.600000,146.700000
100,令嬢薔薇図鑑,130.666667,148.111111
81,Poison,132.000000,149.777778
25,Aristocracy,172.500000,149.900000
4,月下の一群,177.700000,150.100000
106,快楽のススメ,143.400000,151.400000
104,流行世界,115.222222,152.777778
36,étoiles,169.333333,170.666667
94,QUEENDOM,172.636364,179.454545
45,神々の黄昏,138.777778,184.111111
1,幻想庭園,157.400000,185.700000
88,Gothic Opera,168.111111,188.111111
105,Violetta Operetta,207.111111,192.000000
92,汎新日本主義,197.600000,205.200000
95,Les Papillons,194.888889,212.777778
103,絶対音楽,NaN,NaN

#### I voted

In [464]:
my = ['ナルシス・ノワール', '月蝕グランギニョル', '少女殉血', '未來のイヴ', '地獄の季節', '熱帯性植物園', '遊月恋歌', '戦争と平和', '暗黒天国', '胡蝶夢心中', '六道輪廻サバイバル', '魅惑劇']
target.query('title in @my')

,title,ruby,inst,hall_of_fame,works,debut,date,r2019u,initial,kind,...,under100,under200,count_all,count,rank_average,rank_average_exclude_debut,rank_highest,rank_highest_exclude_debut,under50_mean,under100_mean
no,,,,,,,,,,,,,,,,,,,,,
66,ナルシス・ノワール,None,False,False,"[Noblerot, 月光嗜好症]",Noblerot,1998-11-21,NaN,r2005,"[SA, OA]",...,13,14,16,13,47.0,38.0,57.0,46.0,0.625000,0.812500
94,熱帯性植物園,None,False,False,[EROTIC & HERETIC],EROTIC & HERETIC,2002-07-24,26.0,r2005,[OA],...,6,13,16,13,141.0,122.0,161.0,113.0,0.000000,0.375000
95,遊月恋歌,None,False,False,"[EROTIC & HERETIC, Romance, 愛と誠 ～YAMATO＆LOVE×××]",EROTIC & HERETIC,2002-07-24,2.0,r2005,"[SA, OA, CA]",...,15,16,16,13,48.0,39.0,61.0,38.0,0.750000,0.937500
99,戦争と平和,None,False,False,"[EROTIC & HERETIC, Grand Finale, 愛と誠 ～YAMATO＆L...",EROTIC & HERETIC,2002-07-24,NaN,r2005,"[SA, OA, CA]",...,16,16,16,13,19.0,13.0,1.0,14.0,1.000000,1.000000
107,月蝕グランギニョル,None,False,False,"[月蝕グランギニョル, Avenger O.S.T., COLLECTION SIMPLE ...",月蝕グランギニョル,2003-11-05,NaN,r2005,"[S-1, SA, ST, CA]",...,16,16,16,13,5.0,2.0,7.0,3.0,1.000000,1.000000
108,未來のイヴ,None,False,False,"[月蝕グランギニョル, Avenger O.S.T., COLLECTION SIMPLE ...",月蝕グランギニョル,2003-11-05,NaN,r2005,"[S-2, ST, CA]",...,16,16,16,13,10.0,6.0,23.0,9.0,1.000000,1.000000
111,少女殉血,None,False,False,"[Avenger O.S.T., 桂冠詩人 SINGLE COLLECTION PLUS, ...",Avenger O.S.T.,2003-12-03,4.0,r2005,"[ST, CA]",...,8,14,16,13,140.0,121.0,53.0,62.0,0.250000,0.500000
112,地獄の季節,None,False,False,"[Avenger O.S.T., COLLECTION SIMPLE PLUS]",Avenger O.S.T.,2003-12-03,NaN,r2005,"[ST, CA]",...,16,16,16,13,27.0,21.0,30.0,28.0,1.000000,1.000000
164,暗黒天国,None,False,False,"[暗黒天国, かみちゃまかりん オリジナル・サウンドトラック, La Vita Romant...",暗黒天国,2007-05-23,NaN,r2008,"[S-1, ST, CA]",...,11,12,12,12,61.0,52.0,90.0,44.0,0.416667,0.916667
171,胡蝶夢心中,None,False,False,"[Psychedelic Insanity, Les Papillons, 愛と誠 ～YAM...",Psychedelic Insanity,2007-08-22,NaN,r2008,"[SA, OA, CA]",...,12,12,12,12,26.0,19.0,44.0,18.0,0.916667,1.000000
175,六道輪廻サバイバル,None,False,False,"[Psychedelic Insanity, 血と蜜 ～Anthology of Gothi...",Psychedelic Insanity,2007-08-22,NaN,r2008,"[OA, CA]",...,11,12,12,12,79.0,65.0,57.0,67.0,0.333333,0.916667
336,魅惑劇,None,False,False,[芸術変態論],芸術変態論,2018-07-25,NaN,r2018,[OA],...,2,2,2,2,21.0,20.0,53.0,56.0,1.000000,1.000000

# URA ranking

In [465]:
# ura ranking
ura = df[df[URA] > 100][COLUMNS]
ura['rank_average'] = ura.average.rank(method='min', na_option='bottom')
ura['rank_average_exclude_debut'] = ura.average_exclude_debut.rank(method='min', na_option='bottom')
ura['rank_highest'] = ura.highest.rank(method='min', na_option='bottom')
ura['rank_highest_exclude_debut'] = ura.highest_exclude_debut.rank(method='min', na_option='bottom')

ura.head()

,title,date,initial,kind,r2007,r2008,r2009,r2010,r2011,r2012,...,under30,under50,under100,under200,count_all,count,rank_average,rank_average_exclude_debut,rank_highest,rank_highest_exclude_debut
no,,,,,,,,,,,,,,,,,,,,,
1,桜の花は狂い咲き,1997-04-25,r2005,"[SA, OA, OT]",86.0,126.0,116.0,109.0,96.0,123.0,...,0,0,4,13,16,13,58.0,46.0,97.0,64.0
3,マリーゴールド・ガーデン,1988-01-25,r2005,"[SA, OA, S-2]",141.0,162.0,142.0,150.0,175.0,141.0,...,0,0,0,10,16,13,126.0,120.0,183.0,164.0
4,鏡面界 im Juni,1988-01-25,r2005,[OA],165.0,185.0,181.0,171.0,204.0,131.0,...,0,0,0,7,16,13,176.0,162.0,169.0,152.0
5,アンジェ・ノワールの祭戯,1988-01-25,r2005,"[SA, OA]",109.0,131.0,111.0,93.0,81.0,96.0,...,0,0,4,12,16,13,65.0,52.0,87.0,55.0
6,紅い睡蓮の午後,1988-01-25,r2005,"[SA, OA]",144.0,176.0,153.0,164.0,188.0,204.0,...,0,0,0,8,16,13,150.0,143.0,178.0,159.0

In [466]:
col = 4
length = len(ura)
row = int(pandas.np.ceil(length/col))

a = [[] for _ in range(col)]
c = 0
for no in ura.index:
    a[int(c // row)] += [ura.title.at[no]]
    c += 1

for i in range(row):
    print('|'.join([a[j][i] if j * row + (i + 1) <= length else '' for j in range(col)]))

桜の花は狂い咲き|病める薔薇|眠れる豹|真偽贋物遊覧会
マリーゴールド・ガーデン|MALICE|血の断章|La vérité
鏡面界 im Juni|à la cuisine|薨|野性双生児
アンジェ・ノワールの祭戯|桂花葬|小さき者への贖罪のためのアリア|逝ける王女の肖像画
紅い睡蓮の午後|閉ざされた画室|鬼帝の剣|真夏の憂愁夫人
少女忌恋歌|un tableau blanc ～絵画旅行～|桂冠詩人|天譴と超克
パラソルのある風景|闇の翼ですべてをつつむ夜のためのアリア|裸々イヴ新世紀|快恠奇奇
硝子天井のうちゅう|après le noir|騎士乙女|Fräulein Rose
幻想庭園|宵待草|吾君想う故に吾在り生き霊となりて|乙女の贖い
フラワーチャイルド|La vie en rose|戦慄の子供たち|令嬢薔薇図鑑
恋せよ乙女 -Love story of ZIPANG-|schism|Hell's Maria|ローズ家の双子達
ビアンカ|時の森のソワレ|処女懐胎、あるいは白骨塔より少女達は飛翔する|隼の白バラ
空宙舞踏会|夢魔の夜、あなたを迎える者がある|お毒味LADY|薔薇娼館
木洩れ陽のワルツ|プラトニック|Animals on the Earth|朗読する女中と小さな令嬢
堕ちて候|Féliciter|上海繚乱ロマンチカ|黒百合隠密カゲキダン
月光浴|MOTHER|世紀末ゲネシス|南無地獄大菩薩
楽園喪失 -Paradise Lost-|繭|この國の向こうに|見ぬ友へ
舞踏会の手帖|Je te veux|輪廻闇妖散華|PANDEMIC
エスカルゴ嬉遊曲|Après un rêve|堕天國宣戦|赤い蝋燭と金魚
サロメティック・ルナティック|Daphné|寶島|Femme Fatale
雪のひとひら|わが恋は月光に散りぬ|月光オペラの天鵞絨の緞帳は上がり|海賊皇女
ダリの宝石店|pastel pure|恋の翼は真珠色の骨を持ち|静謐なる私小説
Virtual Fantasy|あたしがアリスだった頃|私の心は語る薔薇の御胸を葩の御身を|形而上的な、蝶になる
小夜啼鳥|君がため、惜しからざりし命さへ|エルフの娘は地上に降り|極楽鳥歌
星降る夜の天文学 ～BEDSIDE ASTRONOMY～|肉体の悪魔|百合の日々は追憶の中に潜み薫る|遊蝶花ワルツ
オフェリア遺文|昭和恋々幻燈館|Adieu|恋は芸術気質
Nous Deux C'est Pour La Vie|S嬢の秘めやかな悔恨|亂世エロイカ|修道院の廃庭にて
冬物語|百合と夜鶯|腕 kaina|すみれの花咲くころ
彼と彼女の聖夜|蜜薔薇庭園|灰桜|Tico Tico no Fubá
ストロベリーパイをお食べ|神の雪|絶國TEMPEST|小夜すみれ ～ある夜の森の小さなお話
Only Love Song|Je te veux (Érik Satie)|髑髏ヶ城の巫女達は永久に現世の夢を見る|Das Veilchen
Wish|水月鏡花|平成日本残酷物語|陸と海と空と
夢のあとに ～après un rêve～|In The World|巴里と画家と女|快楽のススメ
エンジェル・エッグの作り方|殉教者の指|SENGOKU GIRL|わたしは慾望という名の處女
Chu Chu|埋葬の森の黄昏坂|帝都乙女決死隊|禁忌 TABOO
Sanctuary|La calèche ～春の雪|四神獣飼殺し|狩猟令嬢ジビエ日誌
月夜のピエレット|L'oiseau bleu|鹿鳴館ブギウギ|アタラクシア、そして対峙する自己
Water Drop|さいごの戀|東方憧憬未見聞録|BAR酔芙蓉へどうぞ
ぶくぶく空が…|極楽荊姫|平和の因子|緋ノ糸輪廻ノGEMINI
カフェテラスでお茶をどうぞ|眠れる城|雪ノ女|波羅蜜蓮華
L'eternite|名なしの森|Troubadour|魂ノ代
愛だけじゃない|桃色天国|亡き王女のための…|永久戒厳令
日曜日のシエスタ|最愛なる魔王さま|秘密の花薗|最後の美術館
Cheri Cheri|CYBER DEVILS|天体瑠璃星万華鏡|昭和B級下手喰い道
Anniversary of Angel|纏われし者ら|修羅と蝶|女化生舞楽図
天使に寄す|若い死者からのレクイエム|眼帯兎と包帯羊のMärchen|Royal Academy of Gothic Lolita
LABYRINTH|Nocturnal|パピヨン輪廻|花と龍
Halation|コトダマ|逢魔蛾城の伯爵|Taolor Tの変身譚
堕落論|コヒブミ|革命の血脈|ヤマトイズム
deep forest|麤皮|君の名を|眼球ロマン
LOST CHILD|神風|夜見のたそがれの、うつろなる蒼き瞳の。|タンゴ ダタ
月光夜|黙示録前戯|胎内ヒトガタ遊戯|月下、緑雨幻想
Sacrifice|ヘテロ失楽園|蓮華幽恋|

In [467]:
average_top = ura.sort_values(['rank_average_exclude_debut', 'date'], ascending=[True, True]) \
                 .query('average_exclude_debut <= 100') \
                 [['title', 'rank_average_exclude_debut', 'average_exclude_debut', 'date']].astype({'rank_average_exclude_debut': int})

average_top

,title,rank_average_exclude_debut,average_exclude_debut,date
no,,,,
185,神風,1,39.400000,2008-08-27
261,真夏の憂愁夫人,2,44.857143,2012-07-18
269,ローズ家の双子達,3,52.333333,2013-09-11
268,令嬢薔薇図鑑,4,59.166667,2013-09-11
130,昭和恋々幻燈館,5,62.692308,2005-06-22
205,処女懐胎、あるいは白骨塔より少女達は飛翔する,6,63.222222,2009-08-26
195,鬼帝の剣,7,64.300000,2008-11-19
264,快恠奇奇,8,66.500000,2013-02-20
181,コトダマ,9,67.000000,2008-01-23
274,黒百合隠密カゲキダン,10,69.833333,2013-09-11
215,堕天國宣戦,11,72.666667,2009-10-21
317,昭和B級下手喰い道,12,78.333333,2016-08-24
206,お毒味LADY,13,79.888889,2009-08-26
318,女化生舞楽図,14,83.666667,2016-08-24
224,亂世エロイカ,15,86.125000,2010-07-14
187,ヘテロ失楽園,16,88.500000,2008-08-27
299,陸と海と空と,17,89.250000,2015-09-09
210,上海繚乱ロマンチカ,18,90.777778,2009-08-26
13,恋せよ乙女 -Love story of ZIPANG-,19,91.846154,1992-07-07
70,月光夜,20,96.461538,1998-11-21
230,平成日本残酷物語,21,96.625000,2010-09-26

In [468]:
for no in average_top.index:
    print(f'{average_top.rank_average_exclude_debut.at[no]}|{average_top.title.at[no]}|{average_top.average_exclude_debut.at[no]:.2f}')

1|神風|39.40
2|真夏の憂愁夫人|44.86
3|ローズ家の双子達|52.33
4|令嬢薔薇図鑑|59.17
5|昭和恋々幻燈館|62.69
6|処女懐胎、あるいは白骨塔より少女達は飛翔する|63.22
7|鬼帝の剣|64.30
8|快恠奇奇|66.50
9|コトダマ|67.00
10|黒百合隠密カゲキダン|69.83
11|堕天國宣戦|72.67
12|昭和B級下手喰い道|78.33
13|お毒味LADY|79.89
14|女化生舞楽図|83.67
15|亂世エロイカ|86.12
16|ヘテロ失楽園|88.50
17|陸と海と空と|89.25
18|上海繚乱ロマンチカ|90.78
19|恋せよ乙女 -Love story of ZIPANG-|91.85
20|月光夜|96.46
21|平成日本残酷物語|96.62

In [469]:
highest_top = ura.sort_values(['rank_highest_exclude_debut', 'date'], ascending=[True, True]) \
                 .query('highest_exclude_debut <= 50') \
                 [['title', 'rank_highest_exclude_debut', 'highest_exclude_debut', 'highest', 'date']].astype({'rank_highest_exclude_debut': int, 'highest_exclude_debut': int, 'highest': int})

highest_top

,title,rank_highest_exclude_debut,highest_exclude_debut,highest,date
no,,,,,
261,真夏の憂愁夫人,1,9,9,2012-07-18
274,黒百合隠密カゲキダン,2,10,4,2013-09-11
269,ローズ家の双子達,3,12,3,2013-09-11
185,神風,4,14,13,2008-08-27
215,堕天國宣戦,4,14,7,2009-10-21
206,お毒味LADY,6,18,13,2009-08-26
205,処女懐胎、あるいは白骨塔より少女達は飛翔する,7,19,17,2009-08-26
195,鬼帝の剣,8,23,5,2008-11-19
268,令嬢薔薇図鑑,9,25,6,2013-09-11
301,快楽のススメ,10,26,7,2015-09-09
159,極楽荊姫,11,28,28,2006-12-06
198,裸々イヴ新世紀,12,29,9,2009-01-21
122,あたしがアリスだった頃,13,31,31,2004-10-22
124,君がため、惜しからざりし命さへ,14,32,32,2005-06-08
181,コトダマ,14,32,8,2008-01-23
264,快恠奇奇,16,33,13,2013-02-20
186,黙示録前戯,17,34,19,2008-08-27
240,Troubadour,17,34,8,2011-05-25
13,恋せよ乙女 -Love story of ZIPANG-,19,36,13,1992-07-07
130,昭和恋々幻燈館,20,37,37,2005-06-22
210,上海繚乱ロマンチカ,20,37,31,2009-08-26
224,亂世エロイカ,22,40,9,2010-07-14
276,見ぬ友へ,23,41,38,2013-09-11
257,真偽贋物遊覧会,24,42,20,2012-07-18
317,昭和B級下手喰い道,25,43,6,2016-08-24
37,Nous Deux C'est Pour La Vie,26,44,17,1995-10-18
70,月光夜,27,45,45,1998-11-21
138,百合と夜鶯,27,45,45,2005-12-07
209,Animals on the Earth,27,45,35,2009-08-26
96,schism,30,46,46,2002-07-24
154,La calèche ～春の雪,31,47,47,2006-12-06
318,女化生舞楽図,31,47,17,2016-08-24
43,Wish,33,48,48,1996-12-24
82,閉ざされた画室,33,48,48,2001-04-25
235,鹿鳴館ブギウギ,33,48,39,2010-09-26
267,乙女の贖い,33,48,48,2013-07-24
271,薔薇娼館,33,48,29,2013-09-11
295,Tico Tico no Fubá,38,50,21,2015-01-21

In [470]:
tmp = ura.loc[:, :]
tmp['under100_mean'] = tmp.under100 / tmp.count_all
tmp.sort_values(['under100_mean', 'date'], ascending=[False, True]) \
   .query('under100_mean >= 0.8') \
   [['title', 'under100', 'under100_mean', 'date']]

                      title  under100  under100_mean       date
no
181                    コトダマ        11       0.916667 2008-01-23
185                      神風        10       0.909091 2008-08-27
261                 真夏の憂愁夫人         7       0.875000 2012-07-18
264                    快恠奇奇         6       0.857143 2013-02-20
268                  令嬢薔薇図鑑         6       0.857143 2013-09-11
269                ローズ家の双子達         6       0.857143 2013-09-11
195                    鬼帝の剣         9       0.818182 2008-11-19
205  処女懐胎、あるいは白骨塔より少女達は飛翔する         8       0.800000 2009-08-26
215                   堕天國宣戦         8       0.800000 2009-10-21

In [471]:
# 未投票
zero = ['日曜日のシエスタ', 'La vie en rose', 'Féliciter', 'Nocturnal', '寶島', '逢魔蛾城の伯爵', '小夜すみれ ～ある夜の森の小さなお話', '魂ノ代']
ura.query('title in @zero')

,title,date,initial,kind,r2007,r2008,r2009,r2010,r2011,r2012,...,under50,under100,under200,count_all,count,rank_average,rank_average_exclude_debut,rank_highest,rank_highest_exclude_debut,under100_mean
no,,,,,,,,,,,,,,,,,,,,,
55,日曜日のシエスタ,1997-12-17,r2005,"[SA, ST]",129.0,208.0,179.0,171.0,169.0,139.0,...,0,0,7,16,13,156.0,146.0,165.0,148.0,0.0
91,La vie en rose,2001-07-25,r2005,[OA],187.0,196.0,221.0,155.0,211.0,217.0,...,0,0,4,16,13,197.0,192.0,191.0,178.0,0.0
106,Féliciter,2003-04-23,r2005,[SA],168.0,174.0,215.0,179.0,223.0,185.0,...,0,0,5,16,13,180.0,170.0,201.0,188.0,0.0
180,Nocturnal,2007-12-12,r2008,[SA],NaN,154.0,202.0,192.0,223.0,217.0,...,0,0,2,12,12,205.0,204.0,188.0,204.0,0.0
216,寶島,2009-10-21,r2010,"[S-2, CA]",NaN,NaN,NaN,109.0,147.0,171.0,...,0,0,4,10,10,188.0,198.0,144.0,170.0,0.0
247,逢魔蛾城の伯爵,2011-06-29,r2011,[SA],NaN,NaN,NaN,NaN,123.0,158.0,...,0,0,4,9,9,161.0,161.0,162.0,165.0,0.0
296,小夜すみれ ～ある夜の森の小さなお話,2015-01-21,r2015,[SA],NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,2,5,5,192.0,191.0,187.0,174.0,0.0
311,魂ノ代,2015-10-21,r2015,[S-2],NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,1,5,5,211.0,210.0,204.0,210.0,0.0

In [472]:
ura[ura.kind.apply(lambda k: 'S-1' in k or 'S-2' in k)]

,title,date,initial,kind,r2007,r2008,r2009,r2010,r2011,r2012,...,under50,under100,under200,count_all,count,rank_average,rank_average_exclude_debut,rank_highest,rank_highest_exclude_debut,under100_mean
no,,,,,,,,,,,,,,,,,,,,,
3,マリーゴールド・ガーデン,1988-01-25,r2005,"[SA, OA, S-2]",141.0,162.0,142.0,150.0,175.0,141.0,...,0,0,10,16,13,126.0,120.0,183.0,164.0,0.000000
12,フラワーチャイルド,1988-07-25,r2005,"[OA, S-1, CA]",187.0,197.0,221.0,214.0,223.0,217.0,...,0,0,5,16,13,183.0,175.0,172.0,153.0,0.000000
13,恋せよ乙女 -Love story of ZIPANG-,1992-07-07,r2005,"[OA, S-1, SA, CA]",36.0,48.0,58.0,74.0,87.0,71.0,...,3,10,13,16,13,26.0,19.0,14.0,19.0,0.625000
25,舞踏会の手帖,1993-06-09,r2005,"[OA, S-2, CA]",92.0,137.0,174.0,171.0,223.0,153.0,...,0,1,10,16,13,141.0,132.0,125.0,101.0,0.062500
27,エスカルゴ嬉遊曲,1994-01-19,r2005,"[S-2, CA]",56.0,66.0,91.0,109.0,155.0,194.0,...,0,3,9,16,13,116.0,104.0,77.0,43.0,0.187500
37,Nous Deux C'est Pour La Vie,1995-10-18,r2005,"[S-2, CA]",44.0,65.0,80.0,118.0,117.0,107.0,...,2,5,14,16,13,60.0,48.0,20.0,26.0,0.312500
42,Only Love Song,1996-08-01,r2005,[S-2],187.0,129.0,185.0,150.0,158.0,217.0,...,0,0,10,16,13,139.0,130.0,165.0,148.0,0.000000
43,Wish,1996-12-24,r2005,"[S-1, OT, ST, CA]",53.0,71.0,81.0,72.0,86.0,127.0,...,1,6,13,16,13,52.0,42.0,67.0,33.0,0.375000
44,夢のあとに ～après un rêve～,1996-12-24,r2005,"[S-2, ST, OT, CA]",168.0,199.0,198.0,164.0,211.0,217.0,...,0,0,6,16,13,184.0,178.0,200.0,186.0,0.000000
49,月夜のピエレット,1997-05-21,r2005,"[OA, OT, S-2, ST, CA]",94.0,172.0,107.0,104.0,92.0,68.0,...,0,3,11,16,13,81.0,68.0,97.0,64.0,0.187500
57,Anniversary of Angel,1997-12-17,r2005,"[S-1, OT, CA]",54.0,99.0,97.0,98.0,147.0,140.0,...,0,5,11,16,13,78.0,66.0,75.0,41.0,0.312500
58,天使に寄す,1997-12-17,r2005,"[S-2, CA]",119.0,170.0,179.0,179.0,211.0,217.0,...,0,0,8,16,13,168.0,157.0,157.0,139.0,0.000000
59,LABYRINTH,1998-10-21,r2005,"[OA, S-1, ST, CA]",59.0,142.0,83.0,171.0,111.0,141.0,...,0,4,13,16,13,56.0,45.0,81.0,47.0,0.250000
87,après le noir,2001-05-23,r2005,"[S-2, CA]",78.0,97.0,133.0,109.0,131.0,173.0,...,0,2,13,16,13,72.0,56.0,111.0,83.0,0.125000
120,pastel pure,2004-08-25,r2005,"[S-1, ST, CA]",104.0,160.0,184.0,179.0,211.0,217.0,...,0,0,6,16,13,172.0,160.0,139.0,116.0,0.000000
122,あたしがアリスだった頃,2004-10-22,r2005,"[S-2, CA]",31.0,47.0,119.0,67.0,78.0,155.0,...,2,4,11,16,13,63.0,50.0,43.0,13.0,0.250000
124,君がため、惜しからざりし命さへ,2005-06-08,r2005,"[S-2, CA]",32.0,87.0,96.0,93.0,106.0,127.0,...,1,4,10,16,13,92.0,83.0,46.0,14.0,0.250000
136,S嬢の秘めやかな悔恨,2005-10-26,r2006#1,"[S-2, CA]",69.0,115.0,149.0,79.0,147.0,204.0,...,0,2,7,15,13,127.0,121.0,101.0,70.0,0.133333
144,水月鏡花,2006-05-24,r2006#2,"[S-2, CA]",62.0,98.0,64.0,70.0,97.0,86.0,...,0,8,13,14,13,41.0,30.0,84.0,53.0,0.571429
159,極楽荊姫,2006-12-06,r2006#2,"[S-2, CA]",28.0,85.0,109.0,93.0,147.0,217.0,...,1,3,9,14,13,101.0,92.0,41.0,11.0,0.214286
165,桃色天国,2007-05-23,r2008,"[S-2, CA]",NaN,64.0,104.0,140.0,128.0,194.0,...,0,1,9,12,12,123.0,126.0,91.0,116.0,0.083333
167,最愛なる魔王さま,2007-06-13,r2008,"[S-2, CA]",NaN,57.0,84.0,82.0,123.0,217.0,...,0,3,9,12,12,109.0,109.0,80.0,88.0,0.250000
181,コトダマ,2008-01-23,r2008,"[S-1, ST, CA]",NaN,8.0,32.0,35.0,38.0,53.0,...,5,11,11,12,12,10.0,9.0,8.0,14.0,0.916667
182,コヒブミ,2008-01-23,r2008,"[S-2, CA]",NaN,73.0,147.0,140.0,158.0,127.0,...,0,2,7,12,12,119.0,119.0,106.0,85.0,0.166667
184,麤皮,2008-07-30,r2009,"[S-2, CA]",NaN,NaN,25.0,56.0,68.0,110.0,...,1,3,10,11,11,70.0,73.0,35.0,43.0,0.272727
195,鬼帝の剣,2008-11-19,r2009,"[S-1, ST, CA]",NaN,NaN,5.0,32.0,30.0,56.0,...,4,9,11,11,11,7.0,7.0,3.0,8.0,0.818182
198,裸々イヴ新世紀,2009-01-21,r2009,"[S-1, OT, ST, CA]",NaN,NaN,9.0,29.0,45.0,82.0,...,3,7,11,11,11,28.0,24.0,10.0,12.0,0.636364
199,騎士乙女,2009-01-21,r2009,"[SA, S-2, CA]",NaN,NaN,41.0,73.0,68.0,194.0,...,1,3,7,11,11,110.0,111.0,56.0,64.0,0.272727
201,吾君想う故に吾在り生き霊となりて,2009-05-27,r2010,"[S-2, CA]",NaN,NaN,NaN,70.0,128.0,155.0,...,0,1,8,10,10,104.0,106.0,103.0,116.0,0.100000
202,戦慄の子供たち,2009-08-19,r2010,"[S-1, ST, CA]",NaN,NaN,NaN,25.0,81.0,55.0,...,1,6,9,10,10,30.0,28.0,35.0,42.0,0.600000
203,Hell's Maria,2009-08-19,r2010,"[S-2, CA]",NaN,NaN,NaN,109.0,113.0,133.0,...,0,0,10,10,10,93.0,91.0,144.0,126.0,0.000000
215,堕天國宣戦,2009-10-21,r2010,"[S-1, ST, CA]",NaN,NaN,NaN,7.0,14.0,23.0,...,4,8,10,10,10,12.0,11.0,6.0,4.0,0.800000
216,寶島,2009-10-21,r2010,"[S-2, CA]",NaN,NaN,NaN,109.0,147.0,171.0,...,0,0,4,10,10,188.0,198.0,144.0,170.0,0.000000
224,亂世エロイカ,2010-07-14,r2011,"[S-1, CA]",NaN,NaN,NaN,NaN,9.0,40.0,...,2,6,9,9,9,16.0,15.0,10.0,22.0,0.666667
225,腕 kaina,2010-07-14,r2011,"[S-2, CA]",NaN,NaN,NaN,NaN,50.0,78.0,...,1,3,8,9,9,69.0,72.0,70.0,58.0,0.333333
227,灰桜,2010-08-25,r2011,"[S-2, CA]",NaN,NaN,NaN,NaN,158.0,185.0,...,0,0,4,9,9,175.0,172.0,195.0,195.0,0.000000
252,夜見のたそがれの、うつろなる蒼き瞳の。,2012-01-25,r2012,"[S-2, CA]",NaN,NaN,NaN,NaN,NaN,84.0,...,0,4,7,8,8,62.0,54.0,103.0,72.0,0.500000
253,胎内ヒトガタ遊戯,2012-01-25,r2012,[S-2],NaN,NaN,NaN,NaN,NaN,98.0,...,0,1,5,8,8,135.0,142.0,131.0,144.0,0.125000
266,Fräulein Rose,2013-07-24,r2013,"[S-2, CA]",NaN,NaN,NaN,NaN,NaN,NaN,...,0,1,4,7,7,151.0,176.0,113.0,198.0,0.142857
267,乙女の贖い,2013-07-24,r2013,"[S-2, CA]",NaN,NaN,NaN,NaN,NaN,NaN,...,1,3,6,7,7,73.0,84.0,67.0,33.0,0.428571
310,波羅蜜蓮華,2015-10-21,r2015,"[S-1, ST]",NaN,NaN,NaN,NaN,NaN,NaN,...,1,3,4,5,5,45.0,67.0,13.0,72.0,0.600000
311,魂ノ代,2015-10-21,r2015,[S-2],NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,1,5,5,211.0,210.0,204.0,210.0,0.000000

In [473]:
# ura_list[(160 <= ura_list[2018]) & (ura_list[2018] <= 210)]

In [474]:
# len(_)

In [475]:
my_before = ['桜の花は狂い咲き', '乙女の祈り', 'Rose Moon', '少女貴族', '熱帯性植物園', '遊月恋歌', '少女殉血', 'Animals on the Earth', '四神獣飼殺し', 'ALICE同罪イノセント', '陸と海と空と', '緋ノ糸輪廻ノGEMINI']
ura.query('title in @my_before')

,title,date,initial,kind,r2007,r2008,r2009,r2010,r2011,r2012,...,under50,under100,under200,count_all,count,rank_average,rank_average_exclude_debut,rank_highest,rank_highest_exclude_debut,under100_mean
no,,,,,,,,,,,,,,,,,,,,,
1,桜の花は狂い咲き,1997-04-25,r2005,"[SA, OA, OT]",86.0,126.0,116.0,109.0,96.0,123.0,...,0,4,13,16,13,58.0,46.0,97.0,64.0,0.250000
209,Animals on the Earth,2009-08-26,r2010,[OA],NaN,NaN,NaN,35.0,45.0,76.0,...,2,5,9,10,10,49.0,49.0,48.0,27.0,0.500000
234,四神獣飼殺し,2010-09-26,r2011,[OA],NaN,NaN,NaN,NaN,27.0,71.0,...,1,4,8,9,9,61.0,63.0,38.0,74.0,0.444444
299,陸と海と空と,2015-09-09,r2015,"[OA, CA]",NaN,NaN,NaN,NaN,NaN,NaN,...,1,3,5,5,5,15.0,17.0,26.0,43.0,0.600000
309,緋ノ糸輪廻ノGEMINI,2015-09-09,r2015,[OA],NaN,NaN,NaN,NaN,NaN,NaN,...,1,3,5,5,5,40.0,47.0,47.0,85.0,0.600000

In [476]:
ura.title.values

array(['桜の花は狂い咲き', 'マリーゴールド・ガーデン', '鏡面界 im Juni', 'アンジェ・ノワールの祭戯',
       '紅い睡蓮の午後', '少女忌恋歌', 'パラソルのある風景', '硝子天井のうちゅう', '幻想庭園', 'フラワーチャイルド',
       '恋せよ乙女 -Love story of ZIPANG-', 'ビアンカ', '空宙舞踏会', '木洩れ陽のワルツ',
       '堕ちて候', '月光浴', '楽園喪失 -Paradise Lost-', '舞踏会の手帖', 'エスカルゴ嬉遊曲',
       'サロメティック・ルナティック', '雪のひとひら', 'ダリの宝石店', 'Virtual Fantasy', '小夜啼鳥',
       '星降る夜の天文学 ～BEDSIDE ASTRONOMY～', 'オフェリア遺文',
       "Nous Deux C'est Pour La Vie", '冬物語', '彼と彼女の聖夜', 'ストロベリーパイをお食べ',
       'Only Love Song', 'Wish', '夢のあとに ～après un rêve～', 'エンジェル・エッグの作り方',
       'Chu Chu', 'Sanctuary', '月夜のピエレット', 'Water Drop', 'ぶくぶく空が…',
       'カフェテラスでお茶をどうぞ', "L'eternite", '愛だけじゃない', '日曜日のシエスタ',
       'Cheri Cheri', 'Anniversary of Angel', '天使に寄す', 'LABYRINTH',
       'Halation', '堕落論', 'deep forest', 'LOST CHILD', '月光夜', 'Sacrifice',
       '病める薔薇', 'MALICE', 'à la cuisine', '桂花葬', '閉ざされた画室',
       'un tableau blanc ～絵画旅行～', '闇の翼ですべてをつつむ夜のためのアリア', 'après le noir',
       '宵待草', 'La vie en rose', 'schism', '時の森のソワレ', '夢魔の夜、あなたを迎える者がある',
       'プラトニック', 'Féliciter', 'MOTHER', '繭', 'Je te veux',
       'Après un rêve', 'Daphné', 'わが恋は月光に散りぬ', 'pastel pure',
       'あたしがアリスだった頃', '君がため、惜しからざりし命さへ', '肉体の悪魔', '昭和恋々幻燈館', 'S嬢の秘めやかな悔恨',
       '百合と夜鶯', '蜜薔薇庭園', '神の雪', 'Je te veux (Érik Satie)', '水月鏡花',
       'In The World', '殉教者の指', '埋葬の森の黄昏坂', 'La calèche ～春の雪',
       "L'oiseau bleu", 'さいごの戀', '極楽荊姫', '眠れる城', '名なしの森', '桃色天国',
       '最愛なる魔王さま', 'CYBER DEVILS', '纏われし者ら', '若い死者からのレクイエム', 'Nocturnal',
       'コトダマ', 'コヒブミ', '麤皮', '神風', '黙示録前戯', 'ヘテロ失楽園', '眠れる豹', '血の断章', '薨',
       '小さき者への贖罪のためのアリア', '鬼帝の剣', '桂冠詩人', '裸々イヴ新世紀', '騎士乙女',
       '吾君想う故に吾在り生き霊となりて', '戦慄の子供たち', "Hell's Maria",
       '処女懐胎、あるいは白骨塔より少女達は飛翔する', 'お毒味LADY', 'Animals on the Earth',
       '上海繚乱ロマンチカ', '世紀末ゲネシス', 'この國の向こうに', '輪廻闇妖散華', '堕天國宣戦', '寶島',
       '月光オペラの天鵞絨の緞帳は上がり', '恋の翼は真珠色の骨を持ち', '私の心は語る薔薇の御胸を葩の御身を',
       'エルフの娘は地上に降り', '百合の日々は追憶の中に潜み薫る', 'Adieu', '亂世エロイカ', '腕 kaina',
       '灰桜', '絶國TEMPEST', '髑髏ヶ城の巫女達は永久に現世の夢を見る', '平成日本残酷物語', '巴里と画家と女',
       'SENGOKU GIRL', '帝都乙女決死隊', '四神獣飼殺し', '鹿鳴館ブギウギ', '東方憧憬未見聞録',
       '平和の因子', '雪ノ女', 'Troubadour', '亡き王女のための…', '秘密の花薗', '天体瑠璃星万華鏡',
       '修羅と蝶', '眼帯兎と包帯羊のMärchen', 'パピヨン輪廻', '逢魔蛾城の伯爵', '革命の血脈', '君の名を',
       '夜見のたそがれの、うつろなる蒼き瞳の。', '胎内ヒトガタ遊戯', '蓮華幽恋', '真偽贋物遊覧会', 'La vérité',
       '野性双生児', '逝ける王女の肖像画', '真夏の憂愁夫人', '天譴と超克', '快恠奇奇', 'Fräulein Rose',
       '乙女の贖い', '令嬢薔薇図鑑', 'ローズ家の双子達', '隼の白バラ', '薔薇娼館', '朗読する女中と小さな令嬢',
       '黒百合隠密カゲキダン', '南無地獄大菩薩', '見ぬ友へ', 'PANDEMIC', '赤い蝋燭と金魚',
       'Femme Fatale', '海賊皇女', '静謐なる私小説', '形而上的な、蝶になる', '極楽鳥歌', '遊蝶花ワルツ',
       '恋は芸術気質', '修道院の廃庭にて', 'すみれの花咲くころ', 'Tico Tico no Fubá',
       '小夜すみれ ～ある夜の森の小さなお話', 'Das Veilchen', '陸と海と空と', '快楽のススメ',
       'わたしは慾望という名の處女', '禁忌 TABOO', '狩猟令嬢ジビエ日誌', 'アタラクシア、そして対峙する自己',
       'BAR酔芙蓉へどうぞ', '緋ノ糸輪廻ノGEMINI', '波羅蜜蓮華', '魂ノ代', '永久戒厳令', '最後の美術館',
       '昭和B級下手喰い道', '女化生舞楽図', 'Royal Academy of Gothic Lolita', '花と龍',
       'Taolor Tの変身譚', 'ヤマトイズム', '眼球ロマン', 'タンゴ ダタ', '月下、緑雨幻想'],
      dtype=object)

In [477]:
my = ['桜の花は狂い咲き', "Nous Deux C'est Pour La Vie", '月夜のピエレット', '神風', 'Animals on the Earth', '絶國TEMPEST', '四神獣飼殺し', 'La vérité', '真夏の憂愁夫人', '令嬢薔薇図鑑', '陸と海と空と', '緋ノ糸輪廻ノGEMINI']
ura.query('title in @my')

,title,date,initial,kind,r2007,r2008,r2009,r2010,r2011,r2012,...,under50,under100,under200,count_all,count,rank_average,rank_average_exclude_debut,rank_highest,rank_highest_exclude_debut,under100_mean
no,,,,,,,,,,,,,,,,,,,,,
1,桜の花は狂い咲き,1997-04-25,r2005,"[SA, OA, OT]",86.0,126.0,116.0,109.0,96.0,123.0,...,0,4,13,16,13,58.0,46.0,97.0,64.0,0.250000
37,Nous Deux C'est Pour La Vie,1995-10-18,r2005,"[S-2, CA]",44.0,65.0,80.0,118.0,117.0,107.0,...,2,5,14,16,13,60.0,48.0,20.0,26.0,0.312500
49,月夜のピエレット,1997-05-21,r2005,"[OA, OT, S-2, ST, CA]",94.0,172.0,107.0,104.0,92.0,68.0,...,0,3,11,16,13,81.0,68.0,97.0,64.0,0.187500
185,神風,2008-08-27,r2009,"[OA, CA]",NaN,NaN,13.0,21.0,14.0,24.0,...,10,10,11,11,11,1.0,1.0,14.0,4.0,0.909091
209,Animals on the Earth,2009-08-26,r2010,[OA],NaN,NaN,NaN,35.0,45.0,76.0,...,2,5,9,10,10,49.0,49.0,48.0,27.0,0.500000
228,絶國TEMPEST,2010-09-26,r2011,"[OA, CA]",NaN,NaN,NaN,NaN,53.0,69.0,...,0,3,5,9,9,117.0,123.0,73.0,70.0,0.333333
234,四神獣飼殺し,2010-09-26,r2011,[OA],NaN,NaN,NaN,NaN,27.0,71.0,...,1,4,8,9,9,61.0,63.0,38.0,74.0,0.444444
258,La vérité,2012-07-18,r2012,[OA],NaN,NaN,NaN,NaN,NaN,15.0,...,1,5,8,8,8,27.0,27.0,19.0,48.0,0.625000
261,真夏の憂愁夫人,2012-07-18,r2012,"[OA, CA]",NaN,NaN,NaN,NaN,NaN,39.0,...,6,7,8,8,8,2.0,2.0,10.0,1.0,0.875000
268,令嬢薔薇図鑑,2013-09-11,r2013,"[OA, CA]",NaN,NaN,NaN,NaN,NaN,NaN,...,4,6,7,7,7,4.0,4.0,4.0,9.0,0.857143
299,陸と海と空と,2015-09-09,r2015,"[OA, CA]",NaN,NaN,NaN,NaN,NaN,NaN,...,1,3,5,5,5,15.0,17.0,26.0,43.0,0.600000
309,緋ノ糸輪廻ノGEMINI,2015-09-09,r2015,[OA],NaN,NaN,NaN,NaN,NaN,NaN,...,1,3,5,5,5,40.0,47.0,47.0,85.0,0.600000

In [478]:
# for idx, i in enumerate(map(lambda line: f'<p>{line}</p>', ura_list.title)):
#     print(i, end='')
#     if idx % 50 == 49:
#         print()

In [479]:
# for idx, i in enumerate(map(lambda line: f'<li>{line}</li>', ura_list.title)):
#     print(i, end='')
#     if idx % 100 == 99:
#         print()